<div>
	<h3>Flowchart Viewer</h3>
	<p>This section shows all the nodes and connections in the flowchart with the inputs and the outputs</p>
	<div>
		Flowchart has {{nodes.length}} nodes and {{conn.length}} connections <br>
		<ul>
	    	<li *ngFor="let node of nodes">
	    		------<br>
	     	 	{{ node.getName() }} - {{node.getInputs().length}} inputs and {{node.getOutputs().length}} outputs
	     	 	<h4>Inputs</h4>
	     	 	<ol >
	     	 		<li *ngFor="let inp of node.getInputs()">{{inp.getName()}} - <b> {{inp.getValue()}} </b></li>
	     	 	</ol>
	     	 	<h4>Outputs</h4>
	     	 	<ol>
	     	 		<li *ngFor="let otp of node.getOutputs()">{{otp.getName()}} - <b> {{otp.getValue()}} </b></li>
	     	 	</ol>
	   		</li>
	  	</ul>
	
	  	<button (click)="displayCode()" [disabled]="nodes.length == 0">Display Code</button>
	  	<button (click)="execute()" [disabled]="nodes.length == 0"  style='display:  inline-block;'>Run Code</button>
	  	<div>{{ codeblock }}</div>
	</div>
</div>
