<mat-expansion-panel class='viewer'>
  	<mat-expansion-panel-header>
	    <mat-panel-title class='header'>
	      <div class='header'>Flowchart Viewer</div>
	      <div class='btn-group'>
			<button (click)="resetViewer()">R</button>
			<button (click)="addNode()">+</button>
		  </div>
	    </mat-panel-title>
  	</mat-expansion-panel-header>
	<div class='container' (wheel)="scale($event)">

			<canvas class="graph-container" id="graph-edges" width="700" height="700" [style.zoom]="zoom" >
			</canvas>
 
			<div class="graph-container" id="graph-nodes" ondragover="return false" [style.zoom]="zoom" >
				
				<div class="node-container">
					<!--- node 1 -->
					<div  class="node" draggable=true *ngFor="let node of nodes" 
										[class.selected]="isSelected(node)" 
										[style.width.px]="node.width"
										[style.top.px]="node.position.y" [style.left.px]="node.position.x" 
										(click)="nodeclick($event, node)"
										(dragstart)="onDragStart($event, node)" (drag)="onDrag($event, node)" (dragend)="dragEnd($event, node)">
						

						<div class="port-container input">
							<div class="port" *ngFor="let port of node.getInputs()" (click)="link($event, port)"></div>
						</div>

						<div class="port-container output">
							<div class="port" 
								*ngFor="let port of node.getOutputs()" 
								(dragStart)="link($event, port)"
								(drag)="dragLink($event, port)" 
								(dragEnd)="createLink($event, port)"></div>
						</div>
						

					</div>

				</div>
			</div>

	</div>
</mat-expansion-panel>

