<div class='viewer'>
	<h3>Flowchart Viewer</h3>
	<div>
		<div class='container'>
			<canvas id="myCanvas" width="450" height="200" style="border:1px solid #d3d3d3;position: absolute;" (click)='graphclick($event)'>
			Your browser does not support the HTML5 canvas tag.</canvas>
	    	<div class='node' *ngFor="let node of nodes" (click)='selectNode(node)' [class.selected]="isSelected(node)" >
	     	 	
	     	 	<div class='node-name'>
	     	 		{{ node.getName() }}
	     	 	</div>

	     	 	<div class='port-container input'>
	     	 		<div class='port' *ngFor="let inp of node.getInputs()">
	     	 			<!-- {{inp.getName()}} -->
	     	 		</div>
	     	 	</div>

	     	 	<div class='port-container output'>
	     	 		<div class='port' *ngFor="let otp of node.getOutputs()">
	     	 			<!-- {{otp.getName()}} -->
	     	 		</div>
	     	 	</div>

	   		</div>
   		</div>
	
	</div>
</div>
