<div id="settingview">
  <input id="grid" type="checkbox" (click)="changegrid()"> <label id="gridname" value="gridVisible">grid</label>
  <input id="axis"  type="checkbox" (click)="changeaxis()"> <label id="axisname" value="axisVisible">axis</label>
  <input id="fog"  type="checkbox" (click)="changeshadow()"> <label id="fogname" value="shadowVisible">shadow</label><br/><hr/>&nbsp;&nbsp;&nbsp;&nbsp;Hemisphere Light&nbsp;&nbsp;<br/>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;hue
  <mat-slider name="range" id="huerange" min=0 max=360 step=1  value={{hue}} #slider (change)="changelight(slider.value,slider1.value,slider2.value)" ></mat-slider>{{slider.value.toPrecision(2)}}<br/>
  &nbsp;&nbsp;&nbsp;saturation
  <mat-slider name="range" id="satrange" min=0 max=1 step=0.01 value={{saturation}} #slider1 (change)="changelight(slider.value,slider1.value,slider2.value)" ></mat-slider>{{slider1.value.toPrecision(2)}}<br/>
  &nbsp;&nbsp;&nbsp;&nbsp;lightness
  <mat-slider name="range" id="lirange" min=0 max=1 step=0.01 value={{lightness}} #slider2 (change)="changelight(slider.value,slider1.value,slider2.value)" ></mat-slider>{{slider2.value.toPrecision(2)}}<br/>
</div>