#settingview{
  position:absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top:0px;
  right:30px;
  color:white;
  width:380px;
  height:200px;
}
#grid{
  margin-left: 20px;
}
#axis{
  margin-left: 30px;
}
#shadow{
  margin-left: 30px;
}
#huerange{
  margin-left: 41px;
  width: 60%;
}
#satrange{
  margin-left: 18px;
  width: 60%;
}
#lirange{
  margin-left: 20px;
  width: 60%;
}