@import '../../scss/globals';

.viewer{
	@extend .viewer;

	.container{

		.procedure{
			padding: 4px; 
			width: 100%;

			[contenteditable="true"]:active,
			[contenteditable="true"]:focus{
			border:none;
			outline:none;
			}

			[contenteditable="true"]{
				color: blue;
				border-bottom: 1px dashed blue;
			}


			&.disabled{
				background-color: red;
			}

		}

	}

		
}

