@import '~scss/globals';

.menu-bar{

	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;

	background-color: $toolbar-color;
	height: $toolbar-height;
	line-height: $toolbar-height;

	padding: $default-padding;

	.section{
		width: auto;
		display: inline-block;
	}

	#branding{
		font-weight: bolder;
		cursor: pointer;
		font-size: 14px;
	}


	ul.menu{
		
		@extend .reset;

		list-style: none;

		.menu{
			margin-left: 10px;
			width: 200px;
		}

		li{
			display: inline;
			font-size: $heading-3;
			margin-right: $default-item-spacing;

			&:hover{
				color: #5D5959;
				cursor: pointer;
			}

		}
	}


}

