@import '~scss/globals';

.viewer{
	@extend .viewer;

	position: absolute; 
	height: 100%; 
	width: 100%; 
	
	box-sizing: border-box !important;
	padding-bottom: 2*$header-height !important;
	.ace-editor{
		height: 100%;
	}
}