@import '~scss/globals';

.viewer{

	@extend .viewer;

	position: relative;
	overflow: hidden;

	height: 100%; 
	width: 100%;

	display: flex;
	flex-direction: column;

	background: url('../../../../assets/img/fw-ng.png');

	.container{
		position: relative;

		height: 100%;
		overflow: hidden;

		.wrapper{
			position: absolute;
			cursor: move;
			background-color: blue;
			z-index: 1;
		}

		.library{
			background-color: #f7f7f7;
			height: 100%;

			display: flex; 
			flex-direction: row; 
			flex-wrap: wrap;

			.lib-node{
				display: inline-block;
				border: 2px solid gray; 
				font-size: 12px; 
				line-height: 14px; 
				border-radius: 4px;
				padding: 5px; 
				margin: 5px; 
				height: auto;
			}
		}
		
		/* .btn-group{
			display: flex; 
			flex-direction: column; 
			justify-content: start;
		
			height: 100%;
			width: 45px;
			background-color: #E7E7E7;
		
			.btn{
				margin: 7.5px; 
				height: 30px; 
				width: 30px; 
				font-size: 18px;
				line-height: 30px;
				text-align: center;
				display: inline-block;
				border: 1px solid gray;
		
			}
		} */

	}

	.graph-container{
		position: absolute; 
		top: 0px; 
		left: 0px; 
		height: 100%; 
		width: 100%;

		#graph-edges{
			background-color: transparent;

			#temporary-edge{
				.hidden{
					display: none;
				}
			}
		}

		#graph-nodes{
			background-color: transparent;
			overflow: hidden;
		}
	}

	.node-container{
		position: relative;
	
		.node{
			position: absolute;
			z-index: 3;
			margin: 0px;

			.btn-container{
			   position: absolute;
			   right: -45px;

			   display: flex; 
			   flex-direction: column; 
			   justify-content: space-between;

				width: 45px;
				height: 110px;

			   .btn-group{
			   		position: relative;
			   		display: flex; 
			   		flex-direction: column;
			   	    
					background: none;

					.action-button{
						position: relative;
						width: 25px;
						height: 24px;
						cursor: pointer;
						font-size: 9px;
						text-align: center;

						.material-icons{
							font-size: 18px;
							line-height: 24px;
						}

						&:hover{
							background-color: gray;
							color: black;
						}
					}
			   }
			}

			.node-wrapper{
				position: relative;
				margin: 20px; 
				min-width: 70px;
				display: flex; 
				flex-direction: column;
				justify-content: center;

				.node-body{
					position: relative;
					height: 60px;
					width: 100%;
					border: 3px solid black;
					border-radius: 10px;
					background-color: white;
					text-align: center;
					cursor: move;

					&.selected{
						background-color: #A4EAA4;
					}

					.node-name{
						font-family: sans-serif; 
						font-size: 14px; 
						line-height: 60px;
					}

					.edit{
						cursor: pointer;
						color: blue;
						font-size: 12px;
					}
	
					
				}

				.port-container{
					display: flex; 
					flex-direction: row; 
					justify-content: space-around;

					position: relative;
					height: 10px;
					width: 100%;
					z-index: 1;

					margin-top: -2px;
					
					&.input{

						.port{
							border-top-right-radius: 15px;
							border-top-left-radius: 15px;
						}
					}

					&.output{

						.port{
							border-bottom-right-radius: 15px;
							border-bottom-left-radius: 15px;
						}

					}

					.port{
						height: 7.5px;
						width: 15px;
						border: 2px solid black;
						border-radius: 50%;
						display: inline-block;
						background-color: black;
						margin: 0px 2px;
						
						z-index: 3;

						&:hover{
							background-color: orange;
							cursor: pointer;
						}

						&.connected{
							background-color: green;
						}
					}

					.btn-sm{
						position: absolute; 
						right: -15px;
						border: 2px solid gray;
						color: gray;
						height: 15px; 
						width: 15px;
						font-size: 10px; 
						line-height: 15px;
						cursor: pointer;

						background: url('../../../../assets/img/plus.png');
						background-size: cover;


						&.input{
							top: -5px; 
						}

						&.output{
							bottom: 0px; 
							left: -15px;
						}
					}

				}
			}


			&:active{
				cursor: none;
			}
		}
	}
	

	#addNode{
		position: absolute;
		right: 30px; 
		bottom: 30px;
	}

	#execute{
		position: absolute;
		top: 15px; 
		left: 50%;
		width: 150px; 
		margin-left: -75px;
	}

	#libToggle{
		position: absolute;
		bottom: 30px; 
		left: 30px;
	}
}

