@import '~scss/globals';

.viewer{

	@extend .viewer;

	position: relative;
	overflow: hidden;

	height: 100%; 
	width: 100%;

	display: flex;
	flex-direction: column;
	background-image: repeating-linear-gradient(0deg,transparent,transparent 70px,#CCC 70px,#CCC 71px),repeating-linear-gradient(-90deg,transparent,transparent 70px,#CCC 70px,#CCC 71px);
	background-size: 71px 71px;

	.container{
		position: relative;

		height: 100%;
		overflow: hidden;

		.disabled{
			color: gray;
			&:hover{
				color: gray !important;
			}
		}

		.sidebar{
			background-color: #C5C5C5;
			color: black;

			section{
				padding: 10px;
				border-bottom: 1px solid gray;

				div{
					cursor: pointer;

					&:hover{
						color: white;
					}
				}


			}
		}

	}

	.graph-container{
		position: absolute; 
		top: 0px; 
		left: 0px; 
		height: 100%; 
		width: 100%;

		#graph-edges{
			background-color: transparent;

			#temporary-edge{
				.hidden{
					display: none;
				}
			}
		}

		#graph-nodes{
			background-color: transparent;
			overflow: hidden;
		}
	}

	.node-container{
		position: relative;
	
		.node{
			position: absolute;
			z-index: 3;
			margin: 0px;

				.btn-container{
				   position: absolute;
				   right: -30px;

				   display: flex; 
				   flex-direction: column; 
				   justify-content: space-between;

					height: 60px + 20px + 20px;

				   .btn-group{
				   		position: relative;
				   		display: flex; 
				   		flex-direction: column;
				   		justify-content: center;
				   	    
						background: none;
						
						.action-button{
							position: relative;
							width: 25px;
							height: 24px;
							cursor: pointer;
							font-size: 9px;
							text-align: center;

							.material-icons{
								font-size: 18px;
								line-height: 24px;
								color: gray;
							}

							&:hover{
								background-color: gray;
								color: white;
							}
						}
				   }
				}

				.node-body{
					display: flex; 
					flex-direction: column;
					justify-content: center;

					position: relative;
					min-height: 30px;
					min-width: 70px;
					border: 1px solid #616161;
					background-color: white;
					cursor: move;

					&.selected{
						border-width: 5px;
					}

					&.library{
						border-color: #12D812;
						border-style: solid;
					}

					.node-name{
						font-family: sans-serif; 
						font-size: 14px;
						border-bottom: 1px solid #616161; 
						text-align: center;

						&.selected{
							background-color: red;
							color: white;
						}
					}

					.port-container{

						display: flex; 
						flex-direction: column;

						margin-top: 10px; 
						margin-bottom: 10px;

						.divider{
							height: 2px; 
							width: 100%; 
							background-color: gray;
						}

						.port{
							display: flex; 
							flex-direction: row;
							margin: 5px 0px;

							.port-grip{
								width: $port-size; 
								height: $port-size; 
								border-radius: 50%;
								background-color: gray;
								cursor: pointer;

								&:hover{
									background-color: red;
								}
							}

							.port-name{
								margin: 0px 5px; 
							}

							&.input{
								justify-content: flex-start;
								margin-left: -$port-size/2;
							}

							&.output{
								justify-content: flex-end;
								margin-right: -$port-size/2;
							}
						}
						

					}
				}

				/* .port-container{
					display: flex; 
					flex-direction: row; 
					justify-content: space-around;
				
					position: relative;
					height: 10px;
					width: 100%;
					z-index: 1;
				
					margin-top: -2px;
					
					&.input{
				
						.port{
							border-top-right-radius: 15px;
							border-top-left-radius: 15px;
						}
					}
				
					&.output{
				
						.port{
							border-bottom-right-radius: 15px;
							border-bottom-left-radius: 15px;
						}
				
					}
				
					.port{
						height: 7.5px;
						width: 15px;
						border: 2px solid black;
						border-radius: 50%;
						display: inline-block;
						background-color: black;
						margin: 0px 2px;
						
						z-index: 3;
				
						&:hover{
							background-color: orange;
							cursor: pointer;
						}
				
						&.connected{
							background-color: green;
						}
					}
				
					.btn-sm{
						position: absolute; 
						right: -15px;
						border: 2px solid gray;
						color: gray;
						height: 15px; 
						width: 15px;
						font-size: 10px; 
						line-height: 15px;
						cursor: pointer;
				
						background: url('../../../../assets/img/plus.png');
						background-size: cover;
				
				
						&.input{
							top: -5px; 
						}
				
						&.output{
							bottom: 0px; 
							left: -15px;
						}
					}
				
				} */

			&:active{
				cursor: none;
			}
		}
	}
	
}

