<!-- <mat-expansion-panel class='viewer' 
		[expanded]="panelOpenState">
  	<mat-expansion-panel-header>
	    <mat-panel-title class='header'> -->

<div class="viewer">
	  	<div class='header'>
		  <div>Flowchart Viewer</div>
		</div>
<!-- 	    </mat-panel-title>
  	</mat-expansion-panel-header> -->
	<div class='container'>
			
			<!-- svg canvas to draw the edges -->
			<svg xmlns="http://www.w3.org/2000/svg" 
				class="graph-container" 
				id="graph-edges" 
				[style.zoom]="zoom">

				<g *ngFor="let edge of _edges" >
									<path 
									  [attr.d]="edge.path" 
									  stroke="blue"
									  stroke-width="3" fill="none" />
								</g>
												
				<!-- dragging path -->
				<g id="temporary-edge" [class.hidden]="!_linkMode" >
					<path 
					[attr.d]="edgeString(mouse_pos.current, mouse_pos.start)" stroke="blue"
 				 	stroke-width="5" fill="none" stroke-dasharray="5, 5"/>
 					<circle id="pointC" [attr.cx]="mouse_pos.current.x" [attr.cy]="mouse_pos.current.y" r="5" />
 				</g>

			</svg>

			<!-- div container for the nodes -->
			<div class="graph-container" 
				id="graph-nodes" ondragover="return false" [style.zoom]="zoom" >
				
				<!-- all nodes -->
				<div class="node-container">

					<!-- one node -->
					<div  class="node" 
							*ngFor="let node of _nodes; let node_index = index" 
							[style.left.px]="node.position[0]" 
							[style.top.px]="node.position[1]" >

						<!--inputs-->
						<div class="port-container input">
							<div class="port" 
								[class.connected]="port.isConnected()" 
								*ngFor="let port of node.getInputs(); let pi=index"  
								id="n{{node_index}}pi{{pi}}"
								draggable=true
								(dragstart)="portDragStart($event, port, [node_index, pi])" 
								(drag)="portDragging($event, port)" 
								(dragend)="portDragEnd($event, port)"
								(drop)="portDrop($event, port, [node_index, pi])">
							</div>
							<div class="btn-sm input" (click)="addPort(node_index, 'in')"></div>
						</div>
					
						<!-- node body -->
						<div class="node-body" 
							[class.selected]="isSelected(node)" 
							(click)="clickNode($event, node_index)"
							draggable=true  
							(dragstart)="nodeDragStart($event, node)" 
							(drag)="nodeDragging($event, node)" 
							(dragend)="nodeDragEnd($event, node)">
							<div class="node-name">{{node.getName()}}</div>
							<span class="edit" (click)="showDialog.status=true">[Edit]</span>
							<!-- <div class="settings" [matMenuTriggerFor]="settingsMenu">More
							<mat-menu #settingsMenu="matMenu">
							  <button mat-menu-item>Shut down</button>
							  <button mat-menu-item>Restart</button>
							  <button mat-menu-item>Hibernate</button>
							</mat-menu> 
							</div>-->
						</div>
				
						<!-- outputs -->
						<div class="port-container output">
							<div class="port"
								[class.connected]="port.isConnected()" 
								*ngFor="let port of node.getOutputs(); let po=index"
								id="n{{node_index}}po{{po}}"
								draggable=true
								(dragstart)="portDragStart($event, port, [node_index, po])" 
								(drag)="portDragging($event, port)" 
								(dragend)="portDragEnd($event, port)"
								(drop)="portDrop($event, port, [node_index, po])">
							</div>
							<div class="btn-sm output" (click)="addPort(node_index, 'out')"></div>
						</div>
				
					</div>
				
				</div>

				<div class="btn-group">
	                <button class="btn" (click)="addNode($event)"><i class="fa fa-plus"></i></button>
					<button class="btn" (click)="executeFlowchart($event)"><i class="fa fa-play-circle"></i></button>
					<div style="height: 2px; width: 45px; background-color: gray;"></div>
					<div class="btn" style="font-size: 12px;"
						*ngFor="let n of _savedNodes; let i=index"
					    (click)="addNode($event, i)">
						{{n._name}}
					</div>
	           	</div>

	           
			</div>
	</div>
</div>
<!-- </mat-expansion-panel> -->



<!-- Dialog for node editing -->
<div class="dialog" *ngIf='showDialog.status==true'>
  <div class="header row">
  	<span class='label'>Editing Node: </span>
	<span class='content' contenteditable="true" (blur)="updateNodeName($event, _selectedNode)">
		{{ _selectedNode.getName() || "undefined" }}
	</span>

	<button style="float: right;" (click)="saveNode(_selectedNode)"><i class="fa fa-download"></i></button>
  </div>
  <app-parameter-viewer class="row"></app-parameter-viewer>
  <app-procedure-editor class="row"></app-procedure-editor>
  <app-parameter-editor class="row"></app-parameter-editor>
  <span class="close" (click)="showDialog.status=false">[Close]</span>
</div>