@import '../../scss/globals';

.viewer{
	@extend .viewer;

	.input{
		padding: 0px 15px;
		border-bottom: 1px solid gray;
	
		.row{
			width: 100%; 

			.label{
				display: inline-block;
				text-transform: uppercase;
				font-size: 10px; 
				color: gray; 
				width: 10%; 
				min-width: 50px;
			}

			.content{
				width: 90%;
				min-width: 50px;


				&.undefined{
					border-bottom: 1px dashed blue;
				}
			}
		}
	}
	


}