<div class="toolbox">
	<div class = "toolbox-content">					
		<mat-list condensed>
			<mat-list-item class="fn_name" *ngFor="let type of procedureTypes"
								 		(click)="addProcedure($event, type)">{{getImageForType(type)}}</mat-list-item>
		</mat-list>

		<hr/>

		<mat-list condensed>
		 	<mat-list-item class="fn_name" *ngFor="let fn of _moduleList" (click)="addActionProcedure(fn);"> 
		 		<span (click)="openHelp($event, fn)">[H]</span>&nbsp;&nbsp; {{ fn.module }}::{{ fn.name }} 
		 	</mat-list-item>
		</mat-list>
	</div>
</div>

