<div class="toolbox">
	<div class = "toolbox-content">
		<div class="inOutBtns">
			<span class="fn_name" (click)="addPort('in')">Add Input</span>
			<span class ="fn_name" (click)="addPort('out')">Add Output</span>
		</div>
		<hr>

		<mat-list condensed>
			<mat-list-item class="fn_name" *ngFor="let type of procedureTypes"
								 		(click)="addProcedure($event, type)">{{getStringForProcedureType(type)}}</mat-list-item>
		</mat-list>

		<hr/>

		<mat-accordion multi="true" [displayMode]="flat">

				<!-- inputs -->
				<mat-expansion-panel [expanded]="true" *ngFor="let cat of _category">
					
					<mat-expansion-panel-header>
						<mat-panel-title>
						  {{ cat }} 
						</mat-panel-title>
						<mat-panel-description>
						  <!-- This is a summary of the content -->
						</mat-panel-description>
					</mat-expansion-panel-header>

					<mat-list condensed>
					 	<mat-list-item class="fn_name" *ngFor="let fn of _moduleList[cat]" (click)="addActionProcedure(fn);"> 
					 		<span class="module">{{ fn.module }}</span>.<span class="function">{{ fn.name }}</span>
					 	</mat-list-item>
					</mat-list>

				</mat-expansion-panel>
				
		</mat-accordion>
		
	</div>
</div>

