@import '~scss/globals';

.toolbox{
	height: 100%;
	background-color: $color3;
	.toolbox-content{
		height:	90%;
		overflow-y: auto;
		overflow-x: hidden;
		.fn_name{
		height: auto;
		font-size: 12px;
		line-height: 14px;
		color: $color1; 
		cursor: pointer;

			&:hover{
				color: $color4;
			}
		}
	}
}
