@import '~scss/globals';

.toolbox{
	//margin-bottom: $header-height;
	//margin-bottom: -2* $header-height;
	height: 100%;
	background-color: $color3;
	position: relative;
	box-sizing: border-box;
	padding-bottom: $header-height;
	.toolbox-content{
		height:	100%;
		overflow-y: auto;
		overflow-x: hidden;
		.fn_name{
		height: auto;
		font-size: 12px;
		line-height: 14px;
		color: $color1; 
		cursor: pointer;

			&:hover{
				color: $color4;
			}
		}
	}
}
