<div class="viewer">

	<div class="default" *ngIf='_inputs == undefined || _inputs.length == 0'>
		This node has no inputs
	</div>
	
	<div class="container">

		<div class='paramater-container' *ngFor="let inp of _inputs">

			<div class="info">
				<div class='param'>
					<span class='label'>Name</span>
					<span class='content'>{{ inp.getName() }}</span>
				</div>

				<div class='param'>
					<span class='label'>Connected</span>
					<span class='content'>{{ inp.isConnected() }}</span>
				</div>
			</div>
	

			<div class="value">
				<form  class='content'>
					<mat-form-field>
				    <input  matInput [disabled]="inp.isConnected()" 
				    placeholder="Value" value="{{ getValue(inp) }}"
				    (change)="updateComputedValue($event, inp)"/>
					</mat-form-field>
				</form>
			</div>
			
			<!-- todo: disable if port is connected -->
			<!-- ui options based on type -->
			<!-- todo: -->
		</div>

	</div>

</div>