@import '~scss/globals';
$execute-height: 36px;

div.mat-input-wrapper.mat-form-field-wrapper{
	padding: 0;
}

.viewer{
	display: flex; 
	flex-direction: column;
	flex-wrap: no-wrap;
	justify-content: space-between;

	background-color: white;

	box-sizing: border-box;
	height: 100%;
	width: 100%;
	padding-bottom: $header-height;

	.container{
		display: flex; 
		flex-direction: column;
		overflow:auto;
		box-sizing: border-box;
		height: auto;
		padding-bottom: $execute-height;
		.paramater-container{
			flex-grow:1;
			flex-shrink:0;
			height: auto;
			display: flex; 
			flex-direction: row; 
			justify-content: space-equally;
			font-size: $fsize1;
			line-height: 18px;
			border-bottom: 1px solid $color2;
			width: 100%;
			padding: 2px 0px;
			.info{
			background-color: white;
			padding: 0 $default-side-padding;
			color: $color1;
			width:20%;
			max-width: 100px;
				.param{
					display: flex;
					height: 100%;
					align-items: center;
					justify-content: flex-end;

					//.label{
						//width: 80px; 
						//text-transform: uppercase; 
						//font-size: $fsize2; 
						//color: $color2; 
					//}

					.content{
						font-size: $fsize2;
					}
				}
			}
			/*.connection{
					//border-bottom: 1px solid $color2;
					padding: 0 0 $default-side-padding 0;
					margin: 0;
			}*/
			.value{
				//padding: $default-side-padding;
				display: flex;
				align-items: center;
				//justify-content: flex-end;
				width: 80%;
				.curr-value{
					width: 100px;
					textarea{
						//height: auto !important;
					}
				}
				.slider-container{
					padding: 0 $default-side-padding;
					width: 100%;
					.content{
						font-size: $fsize2;
						color: $color1;
					}
				}
			}
			//border-bottom: 1px solid $color2;
			/*border-top: 1px dashed $color1;
			border-bottom: 1px dashed $color1;*/
		}
	}

/* 	.input{
	padding: 0px 15px;
	border-bottom: 1px solid gray;

	.row{
		width: 100%; 

		.label{
			display: inline-block;
			text-transform: uppercase;
			font-size: 10px; 
			color: gray; 
			width: 10%; 
			min-width: 50px;
		}

		.content{
			width: 90%;
			min-width: 50px;


			&.undefined{
				border-bottom: 1px dashed blue;
			}
		}
	}
} */
	
}


//.buttoncontainer{
	//display: flex;
	//flex-direction: reverse-row;
	//justify-content: flex-end;
	//height: $execute-height;
//}

#execute{
	width: 100%;
	background-color:$pcolor3;
	color: white;
	height: $execute-height;
	align-self: flex-end;
	flex-shrink:0;
	//flex-grow: 1;
	&:hover{
		background-color: $color4;
		color:$color5;
	}
}

