@import '~scss/globals';

.viewer{
	display: flex; 
	flex-direction: row;
	flex-wrap:wrap;
	background-color: white;
	justify-content: space-between;
	height: 70%;
	width: 99%;

	.container{
		height:100%;
		flex-grow:20;
		flex-shrink:0;
		display: flex; 
		flex-direction: column;
		direction: rtl;
		overflow:auto;
		flex-basis: auto;
		.paramater-container{
			flex-grow:1;
			flex-shrink:0;
			direction:ltr;
			display: flex; 
			flex-direction: row; 
			justify-content: space-equally;
			font-size: 14px;
			line-height: 18px;

			/*padding: 5px 0px 0px 0px;
			margin: 15px; */
			.info{
			background-color: $color3;
			padding: 0 $default-side-padding;
			color: $color1;
			width:20%;
			}
			/*border-top: 1px dashed $color1;
			border-bottom: 1px dashed $color1;*/

			.param{
				display: flex; 
				flex-direction: column; 
				margin: 5px 0px;
				.label{
					width: 80px; 
					text-transform: uppercase; 
					font-size: 10px; 
					color: $color2; 
				}

				.content{
					font-size: 12px;
				}
			}

			.connection{
					border-bottom: 1px solid $color2;
					padding: 0 0 $default-side-padding 0;
					margin: 0;
			}

			.value{
				padding: $default-side-padding;
				.content{
					color:$color1;
				}
			}		
	
		}
	}

/* 	.input{
	padding: 0px 15px;
	border-bottom: 1px solid gray;

	.row{
		width: 100%; 

		.label{
			display: inline-block;
			text-transform: uppercase;
			font-size: 10px; 
			color: gray; 
			width: 10%; 
			min-width: 50px;
		}

		.content{
			width: 90%;
			min-width: 50px;


			&.undefined{
				border-bottom: 1px dashed blue;
			}
		}
	}
} */
	
}

#execute{
	background-color:$color5;
	color: white;
	align-self: flex-end;
	flex-grow: 1;
	&:hover{
		background-color: $color4;
		color:$color5;
	}
}