<div class="viewer">

	<div class="container">

		<div class="default" *ngIf='_inputs == undefined || _inputs.length == 0'>
			This node has no inputs
		</div>
 
		<div class='paramater-container' *ngFor="let inp of _inputs" >
			
			<div class="info">
				<div class='param'>
					<!--<span class='label'>Name</span>-->
					<span class='content'>{{ inp.getName() }}</span>
				</div>
			</div>
	

			<!-- if input type == Input -->
			<div class="value" *ngIf="inp.getType() == InputPortTypes.Input">
				<form  class='content'>
					<mat-form-field>
						<textarea matInput 
							matTextareaAutosize 
							matAutosizeMinRows="1"
	            			matAutosizeMaxRows="5" 
	            			(change)="updateComputedValue($event, inp)"
	            			value="{{ getValue(inp) }}">
	            		</textarea>
					</mat-form-field>
				</form>
			</div> 

			<!-- if input type == Slider -->
			<div class="value" 
				*ngIf="inp.getType() == InputPortTypes.Slider">
				<mat-slider min="{{inp.getOpts().min}}" 
							max="{{inp.getOpts().max}}" 
							step="{{inp.getOpts().step}}" 
							[thumb-label]="true"
							#val
							[(ngModel)]="val.value"
							(change)="updateComputedValue($event, inp, val.value)"
							value="{{ getValue(inp) }}"></mat-slider>
			</div>

		</div>

			<!-- todo: disable if port is connected -->
			<!-- ui options based on type -->
			<!-- todo: -->
	</div>
	<button id="execute" mat-raised-button color="accent" (click)="executeFlowchart($event)">Execute Flowchart</button>  

</div>

