@import '~scss/globals';

.viewer{
	@extend .viewer;

	padding: $default-side-padding;
	height: 100%;

	box-sizing: border-box;
	padding-bottom: $header-height;

	overflow: auto;

	h1{
		padding-left: $default-side-padding;
		padding-bottom: 5px;
		color: $color1;
		display: block;
		border-bottom: 1px solid $color3;
	}

	// display: flex !important;
	// flex-flow: column nowrap !important;

	// height: 100% !important;
	// padding-top: $default-side-padding;
	// box-sizing: border-box !important;
	// padding-bottom: 2*$header-height;

	// h1{
	// 	padding-left: $default-side-padding;
	// 	padding-bottom: 5px;
	// 	color: $color1;
	// 	display: block;
	// 	border-bottom: 1px solid $color3;
	// 	flex-grow: 0 !important;
	// 	flex-shrink: 1 !important;
	// }

	// .iframe-container{
	// 	height: 100%;
	// 	width: 100%;

	// 	flex-shrink: 1 !important;
	// 	flex-grow: 0 !important;
	// 	iframe{
	// 		height: 100%; 
	// 		width: 100%;
	// 	}
	// }
}

mat-expansion-panel{
	margin: 0 !important;
	overflow: hidden !important;
	mat-expansion-panel-header{
		mat-panel-title{
		color: $pcolor2 !important;
	}
}

}

mat-panel-description{
	display: none;
}


.content{
	width: 100%;
	text-align: left !important;
	.head-descr{
		margin-bottom: $fsize2;
		font-size: $fsize2;
	}
}

/*
.mat-list-item-content{
	padding: 0;
	border: 0;
}

.mat-line{
	padding: 0;
	border: 0;
	line-height: $fsize1;
}*/



mat-list{
	.mat-subheader{
		display: none; //not sure the purpose of this word
		font-size: $fsize2;
		color: $color1;
		margin: 0;
		padding: 0;
	}
	mat-list-item{
		h4{
			color: $pcolor4;
			font-size: $fsize2;
			border-bottom: 1px solid $color2;
			font-weight: bold;
			display: block;
			margin: 0;
			//margin-bottom: $fsize2;
		}
		p{
			font-size: $fsize2;
			color: $color1;
			margin:0;

			a{
				color: $color2;
				font-size: $fsize2;
			}
		}
	}
	div{
		padding: 0 !important;
	}
}


.topic{
	color: $color1; 
	cursor: default !important;
	font-weight: bold;
	font-size: $fsize2;
	&:hover{
		color: $color1;
	}
}

.descr{
	font-size: $fsize2;
	color: $color1;
	cursor: default !important;
}

.return-block{
	//margin-top: $fsize2/2;
	//display: block;
	.topic{
		text-decoration: underline;
	}
}
