@import '~scss/globals';

.header{
	display: flex; 
	flex-direction: row; 
	justify-content: space-between;
	
	border-bottom: 1px solid $color2;
	background-color: $color1;
	color: white; 
	//font-weight: bold;
	height: $header-height; 
	line-height: $header-height; 
	font-size: 14px; 
	padding: 0px $default-side-padding;

	.btn-group{
		display: flex; 
		flex-direction: row; 

		span{
			color: $color3;

			mat-icon{
				font-size: 14px;
				cursor: pointer;

				&.disabled{
					color: $color2 !important;
				}
				
				&:hover{
					color: $color4;
				}
			}
		}
	}
}

