@import '~scss/globals';

.addBtn{
	font-size: $fsize2;
}

.viewer{
	@extend .viewer;

	display: flex;
	flex-direction: column;

	.port-heading{
		font-size: $fsize1;
		line-height: 36px;
		padding: 0px 4px;
		text-align: center;
	}

	.port {
		display: flex; 
		flex-flow: row nowrap; 
		justify-content: space-between!important;
		padding: 0px;
		padding-left: $default-side-padding;

		margin: 2px;
		border-bottom: 1px dashed $color2;
		border-top: 1px dashed $color2;

		background-color: white;

		/*&:hover{
			.content{
				flex-flow: row wrap;
			}
			.controls{
				display: flex;
			}
		}*/

		span{
			width: 100px;
		}
		
		.content{
			//width: 100px;
			display: flex;
			flex-flow: row nowrap;
			height: 20px;
			font-size: $fsize2;
			line-height: 20px;
			justify-content: space-between;

			margin-right: 50px;
			select{
				font-size: $fsize2;
				width: 100px;
			}
			/*.row{				
				display: flex; 
				flex-direction: row;

				.label{
					display: inline-block;
					text-transform: uppercase;
					font-size: 10px; 
					color: gray; 
					width: 100px;
				}

				.content{
					min-width: 50px;

					&.undefined{
						border-bottom: 1px dashed blue;
					}
				}
			}*/

		}

		.controls{
			margin:0 !important;
			display: flex;

			button{
				max-width: $fsize1 !important;
				height: $fsize1;
				min-width: $fsize1 !important;
				padding: 0px !important; 
				flex-grow: 0 !important;
				flex-shrink: 0 !important;
				mat-icon{
					height: $fsize2;
					vertical-align: top !important;
					font-size: $fsize1 !important;
					text-align: left !important;
				}
				&:hover{
					background-color: $color3 !important;
					mat-icon{
						color: $color5 !important;
					}
				}
			}
			.btn:hover{
				cursor: pointer;
				border-bottom: 1px dashed blue;
			}
		}
	
	}
}

.hidden{
	display: inline-block !important;
	visibility: hidden !important;
}

.container{
	overflow: hidden !important;
}