<div class="viewer">

	<div class="container">
		
		<!-- default -->
		<div class="default" *ngIf="!isVisible">No node selected</div>

		<!-- main -->
		<div class="view-container" *ngIf="isVisible">
			<mat-accordion multi="true" [displayMode]="flat">

				<!-- inputs -->
				<mat-expansion-panel [disabled]="_inputs.length == 0" [expanded]="true">
					
					<mat-expansion-panel-header>
						<mat-panel-title>
						  Inputs ({{ _inputs.length }})
						</mat-panel-title>
						<mat-panel-description>
						  <!-- This is a summary of the content -->
						</mat-panel-description>
					</mat-expansion-panel-header>

					<!-- <span class="addBtn" (click)="addPort(node_index, 'in')">Add Input</span> -->

					<div class='port input' *ngFor="let inp of _inputs; let i=index">
						<div class="content">
							<div class='row'>
								<!--<span class='label'>Name</span>-->
								<span class='content' contenteditable="true" (blur)="updatePortName($event, inp)" spellcheck="false">
									{{ inp.getName() }}
								</span>
							</div>

							<div class='row' *ngIf='!inp.isFunction()'>
								<!--<span class='label'>Type</span>-->
								<span class='content'>
									<select (change)="updateType($event.target.value, inp)">
						         	    <option *ngFor="let x of inputPortOpts" [value]="x" [selected]="inp.getType() == x">{{getInputTypeName(x)}}</option>
						            </select>
	
								</span>
							</div>
	
							<div class="row" *ngIf='inp.isFunction()'>
								<span class="content" (click)="addFunctionToProcedure(inp)" matTooltip="Add function to procedure">
									<!-- <mat-icon>add</mat-icon> --> [add]
								</span>
							</div>
							

							<!-- <div class='row'>
								<span class='content' contenteditable="true" (blur)="updateDefaultValue($event, inp)">
									<span *ngIf="!inp.getDefaultValue()"><i>Default Value</i></span>
									<span *ngIf="inp.getDefaultValue()">{{inp.getDefaultValue()}}</span>
								</span>
							</div>	 -->
						</div>			
						<div class="controls">
							<button mat-button (click)='openSettingsDialog(inp)'>
								<mat-icon>settings</mat-icon>
							</button>
					        <button mat-button (click)='deletePort($event, "input", i)'>
					    		<mat-icon>delete</mat-icon>
    					    </button>
						</div>
					</div>
				</mat-expansion-panel>

				<!-- outputs -->
				<mat-expansion-panel [disabled]="_outputs.length == 0" [expanded]="true">
					<mat-expansion-panel-header>
						<mat-panel-title>
						  Outputs ({{ _outputs.length }})
						</mat-panel-title>
						<mat-panel-description>
						  <!-- This is a summary of the content -->
						</mat-panel-description>
					</mat-expansion-panel-header>

					<!-- <span class ="addBtn" (click)="addPort(node_index, 'out')">Add Output</span> -->

					<div class='port output' *ngFor="let output of _outputs; let o=index"><div class="content">
						<div class='row'>
							<!--<span class='label'>Name</span>-->
							<span class='content' contenteditable="true" (blur)="updatePortName($event, output)" spellcheck="false">
								{{ output.getName() || "undefined" }}
							</span>
						</div>
						<div class='row'>
							<!--<span class='label'>Type</span>-->
							<span class='content'>
								<select (change)="updateType($event.target.value, output)">
					         	    <option *ngFor="let x of outputPortOpts" [value]="x" [selected]="output.getType() == x">{{getOutputTypeName(x)}}</option>
					            </select>
							</span>
						</div>
						<div class='row hidden'>
							<!--<span class='label'>Default</span>-->
							<span class='content' contenteditable="true" (blur)="updateDefaultValue($event, output)">
								{{ output.getDefaultValue() || "undefined"}}
							</span>
						</div>
						</div>
						<div class="controls">
					        <button mat-button (click)='deletePort($event, "output", o)'>
					    		<mat-icon>delete</mat-icon>
    					    </button>
						</div>
					</div>
				</mat-expansion-panel>

			</mat-accordion>
		</div>

	</div>

</div>

