@import '~scss/globals';

.default{
	text-align: center;
}

.editor{
	@extend .viewer;
	//float: left;
	//overflow: auto;

	background-color: white;

	display: flex; 
	flex-direction: column;

	height: 100%;
	width: 100%;
	padding-bottom: $header-height;
	box-sizing: border-box;
	.view-container{
		width: 100%;
	}

	split-area{
		overflow:auto !important;
	}

}

