<div class="editor">
	
	<div class="default" *ngIf="_selectedNode == undefined">
		No Node Selected
	</div>

	<split  *ngIf="_selectedNode != undefined"
			  direction="horizontal" 
              [gutterSize]="7" 
              [useTransition]="true">

		<split-area [visible]="true" [size]="30" order="1">
			<app-modulebox></app-modulebox>
		</split-area>

		<split-area [visible]="true" [size]="70" order="2">
			<div class =" editor-container">
		 		<app-parameter-editor></app-parameter-editor>
				<app-procedure-editor></app-procedure-editor>
			</div>
		</split-area>

    </split>

	<!-- default message when no node selected -->
	
		<!-- <form class="node-header">
		  <mat-form-field class="full-width">
		    <input  matInput placeholder="Node Name" value="{{_selectedNode.getName()}}"
		    (change)="updateNodeName($event, _selectedNode)">
		  </mat-form-field>
		</form> -->

</div>

