@import '~scss/globals';

.console-container{

	@extend .container;

	position: relative;
	height: 100%;

	overflow-y: auto !important;
	box-sizing: border-box !important;

	padding: $default-side-padding;

	display: flex;
	flex-flow: column nowrap;

	.message-container{
		display: flex;
		flex-flow: column wrap;
		margin: $default-side-padding/2;
		justify-content: space-between;

		flex-grow: 0;
		flex-shrink: 0;

		padding: 0 5 0 0 !important;
		border-bottom: 1px solid $color2;
		font-family: 'Ubuntu Mono', monospace;
	
		.time{
			min-width: 50%;
			font-size: 10px;
			white-space: nowrap;
			//flex-grow: 10;
			//flex-shrink: 0;
			color: grey !important;
		}

		.message{
			min-width: auto;
			font-size: $fsize2; 
			
			// display: flex;
			// flex-flow: row wrap;
			color: $color1 !important;

			&.error{
				color: $pcolor1 !important;
				//font-weight: 300;
				font-size: $fsize2;
				padding: 5px;
				display: inline;
			}

			&.print{
				padding: 5px;

				.console-heading{
					font-size: $fsize2; 
					line-height: 20px;
					color: $pcolor2;
					text-decoration: underline;
				}
					
				.console-line{

					max-height: 150px; 
					max-width: 100%;
					overflow: auto;

					.var-name{
						color: $pcolor4;
					}

					.var-value{
						//font-weight: 600;
						color: $pcolor3;
						display: inline-block;
						word-wrap: break-word;
						max-width: 100%;
					}
					
				}

			}

		}
		
	}

	button{
		max-width: $fsize1*2;
		height: $fsize1 *2;
		min-width: $fsize1*2;
		padding: 0px !important;
		border-radius: 50%;
		border: 1px solid $color1;

		display: flex;
		align-items: center;
		justify-content: center; 

		.fa-eraser{
			height: $fsize1;
			font-size: $fsize1 !important;
			color: $color1;
			padding: 0;

			display: flex;
			align-items: center;
			justify-content: center; 
		}
		&:hover{
			background-color: $color3 !important;
			.fa-eraser{
				color: $color5 !important;
			}
		}
	}
}

.btn-container{
	position: absolute;
	right: 4*$default-side-padding;
	top: $default-side-padding;
	button{
		position: fixed;
	}
}
