<div id="app-container">
  <app-menu></app-menu>
  <div class="container">
    <app-flowchart-viewer></app-flowchart-viewer>
    <app-procedure-editor></app-procedure-editor>
    <app-parameter-editor></app-parameter-editor>
    <app-parameter-viewer></app-parameter-viewer>
    <app-geometry-viewer></app-geometry-viewer>
    <app-code-viewer></app-code-viewer>
  </div>
		<!-- <split direction="horizontal" 
                       disabled="false"
                       [visibleTransition]="action.useTransition">
                    <split-area [size]="10" order="1">
                       <app-geometry-viewer></app-geometry-viewer>
                       <app-code-viewer></app-code-viewer>
                    </split-area>
                    <split-area [size]="action.a2s" order="2">
                       <app-flowchart-viewer></app-flowchart-viewer>
                       <app-parameter-viewer></app-parameter-viewer>
                    </split-area>
                    <split-area [size]="10" order="3">
                        <app-procedure-editor></app-procedure-editor>
                        <app-parameter-editor></app-parameter-editor>
                    </split-area>
            </split> -->
</div>
