@import '../scss/globals';

#app-container{

	position: relative;
	width: 100%; 
	height: 100%;

	margin: 0px;
	padding: 0px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	background-color: $background-color;

	.header{
			
		// refer to menu bar scss
			
	}

	.container{

		position: relative;

		display: flex; 
		flex-direction: column;

		flex-grow: 1;

		padding: $default-padding;

		.split-panel{
			position: relative;
			flex-grow: 1; 
			height: 100%; 
		}

		.viewport-wrapper{
			display: flex;
			flex-direction: row;
			flex-grow: 1;

			position: relative;
		}
		
		.toggle-view-bar{
			display: flex; 
			flex-direction: column; 
			justify-content: start;

			width: 45px;
			background-color: #E7E7E7;
			margin-right: 15px;
			margin-top: 30px;

			.btn{
				margin: 7.5px; 
				height: 30px; 
				width: 30px; 
				font-size: 18px;
				line-height: 30px;
				text-align: center;
				display: inline-block;
				border: 1px solid gray;
				cursor: pointer;

				&.active{
					color: white; 
					background-color: gray;
				}	
			}
		}
	}

}

