<div class="viewer">
	<mat-accordion>
		<mat-expansion-panel [expanded]="true">
					<mat-expansion-panel-header>
						<mat-panel-title>
						  Procedure ({{_procedureArr.length}})
						</mat-panel-title>
						<mat-panel-description>
						  <!-- This is a summary of the content -->
						</mat-panel-description>
					</mat-expansion-panel-header>

					
					<!-- <button (click)="showProd=!showProd">Procedure</button>
					<div *ngIf='showProd'> -->
					<div class="tree">
						<datalist id="variable-suggestions" >
						    <option *ngFor='let v of _variableList' value="{{v}}"></option>
						</datalist>

						<tree-root #tree 	
									[nodes]='_procedureArr' 
									[options]='_tree_options'  
									(moveNode)="onMoveNode($event)">
								  <ng-template #treeNodeTemplate 
								  		let-prod 
								  		let-index="index" 
								  		class="tree-node-wrapper">
								  		<div class = "full-container" (click)="focus($event, prod)">

											<!--<div class = "seg3" *ngIf="prod.data.getType() != 'Else' && prod.data.getType() != 'If'">
					    					   	<button mat-button 
												    *ngIf="prod.data.getType() =='Action'"
													(click)="openHelp($event, prod)">
													<mat-icon>help_outline</mat-icon>
												</button>

						    				</div>-->
								  			<div class = "seg1" 
								  				[class.print]="prod.data.printToConsole()"
								  				[class.error]="prod.data.getError()" 
								  				[class.disabled]="prod.data.isDisabled()">

												<!-- template for data -->
												<div *ngIf="prod.data.getType() == 'Data'"> 
													<div class='procedure-item'>
														<input matInput class="tree-input" [style.width.ch]="prod.data.getLeftComponent().expression.length + 4" 
														[(ngModel)]="prod.data.getLeftComponent().expression" #ctrl="ngModel" required
														(change)="updateProcedure($event, prod, 'left')" spellcheck="false" list="variable-suggestions" >

														<span class="equal">=</span>
											
														<input matInput class="tree-input" [style.width.ch]="prod.data.getRightComponent().expression.length + 4" 
														[(ngModel)]="prod.data.getRightComponent().expression" #ctrl="ngModel" required
														(change)="updateProcedure($event, prod, 'right')" spellcheck="false" list="variable-suggestions">

													</div>
												</div>

												<!-- template for a function call -->
												<div *ngIf="prod.data.getType() == 'Function'">
													<div class='procedure-item'>
														
														<input matInput class="tree-input" [style.width.ch]="prod.data.getLeftComponent().expression.length + 4" 
															[(ngModel)]="prod.data.getLeftComponent().expression" #ctrl="ngModel" required
															(change)="updateProcedure($event, prod, 'left')" spellcheck="false" list="variable-suggestions">

														<span class="equal">=</span>

														<span class="module">{{prod.data.getFunctionName()}}</span>
														
														(<span *ngIf="prod.data.getRightComponent().params.length > 0">
															<div class="param-container" *ngFor="let p of prod.data.updateParams();let i=index;">
																<input matInput class="tree-input" 
																 [(ngModel)]="prod.data.getRightComponent().params[i]" #ctrl="ngModel"
																 [style.width.ch]="p.length + 5" 
																 (change)="updateProcedure($event, prod, 'right')"
																 required
																 list="variable-suggestions">

																 <span *ngIf="i < prod.data.updateParams().length - 1"> , </span>
															</div>
														</span>)
														:::
														<select (change)="updateProcedure($event, prod, 'right')" [(ngModel)]="prod.data.getRightComponent().category" #ctrl="ngModel">
											         	    <option *ngFor="let otp of prod.data.getOutputs()" [value]="otp">{{otp}}</option>
											            </select> 

													</div>
												</div>

												<div *ngIf="prod.data.getType() == 'IfElse'">
													<div class='procedure-item'>
														<span>if-else</span>
													</div>
												</div>

												<div *ngIf="prod.data.getType() == 'If'">
													<div class='procedure-item'>
													 <span>if</span> ( <input matInput class="tree-input" 
													 					[style.width.ch]="prod.data.getLeftComponent().expression.length + 4"  
													 					[(ngModel)]="prod.data.getLeftComponent().expression" #ctrl="ngModel" required
														(change)="updateProcedure($event, prod, 'left')" spellcheck="false"> )
													</div>
												</div>

												<div *ngIf="prod.data.getType() == 'Else'">
													<div class='procedure-item'>
													 <span>else</span>
													</div>
												</div>

												<div *ngIf="prod.data.getType() == 'For Loop'">
													<div class='procedure-item'>
													 <span>for (</span> 
													  
													  <input matInput class="tree-input" 
															[style.width.ch]="prod.data.getLeftComponent().expression.length + 4" 
													  		[(ngModel)]="prod.data.getLeftComponent().expression" #ctrl="ngModel" required (change)="updateProcedure($event, prod, 'left')" spellcheck="false">
													  
													  <span style="margin: 0px 10px;">in</span>  
													  
													  <input matInput class="tree-input" 
																[style.width.ch]="prod.data.getRightComponent().expression.length + 4" 
													  			[(ngModel)]="prod.data.getRightComponent().expression" #ctrl="ngModel" 
													  			required (change)="updateProcedure($event, prod, 'right')" spellcheck="false" list="variable-suggestions"> 
													  )
													</div>
												</div>

												<div *ngIf="prod.data.getType() == 'Action'">
													<div class='procedure-item'>
														
														<input matInput class="tree-input" 
															[style.width.ch]="prod.data.getLeftComponent().expression.length + 4" 
															[(ngModel)]="prod.data.getLeftComponent().expression" #ctrl="ngModel" required
															(change)="updateProcedure($event, prod, 'left')" spellcheck="false" list="variable-suggestions">
														

														<span class="equal">=</span>

														<span class="module">{{prod.data.getRightComponent().module}}</span>
														.

														  <span class="function">{{prod.data.getRightComponent().fn_name}}</span> 

														( <span *ngIf="prod.data.getRightComponent().params.length>0">
																<div class="param-container" 
																	*ngFor="let p of prod.data.getRightComponent().params; let i=index">
																	
																	<input matInput class="tree-input" 
																	 [style.width.ch]="prod.data.getRightComponent().params[i].value.length + 4" 
																	 [(ngModel)]="prod.data.getRightComponent().params[i].value"
																	 #ctrl="ngModel" 
																	 required
																	 (change)="updateProcedure($event, prod, 'right')" spellcheck="false" 
																	 list="variable-suggestions">

																	<span *ngIf='i<prod.data.getRightComponent().params.length-1'>,</span>
																</div> 
															</span>	)
														
													</div>
												</div>

											</div>

											<div class = "seg2" *ngIf="prod.data.getType() != 'Else' && prod.data.getType() != 'If'">
												<button mat-button 
												    *ngIf="prod.data.getType() =='Action'"
													(click)="openHelp($event, prod)" tabindex="-1">
													<mat-icon>help_outline</mat-icon>
												</button>
											   <button mat-button
											   		(click)="togglePrint(prod.data)" 
											   		matTooltip="Print value to console"
											   		*ngIf="prod.data.getType() =='Action' || prod.data.getType() =='Data'" tabindex="-1">
				    					    		<mat-icon>print</mat-icon>
					    					    </button>
												 <button mat-button (click)="toggle(prod.data)" matTooltip="Enable/Disable Line" tabindex="-1">
				    					    		<mat-icon>check_circle</mat-icon>
					    					    </button>
										        <button mat-button (click)="deleteProcedure(prod)" matTooltip="Delete Line" tabindex="-1">
				    					    		<mat-icon>delete</mat-icon>
					    					    </button>
					    					    <!-- <button (click)="disableProcedure(prod, $event)">Disable</button>
					    					    <button (click)="go($event)">Copy</button> -->
						    				</div>

						    			</div>
								  </ng-template>
						</tree-root> 
					</div>	
					<!-- </div>	 -->					

					
		</mat-expansion-panel>
	</mat-accordion>
</div>