@import '~scss/globals';

.procedure-item{
	span.module{
		color: $pcolor2 !important;
		font-weight: bold;
	}

	span.function{
		color: $pcolor4 !important;
		font-weight: bold;
	}
}

/*
.viewer{
	@extend .viewer;
	.container{
		position: relative;

		padding: 15px; 

		display: flex; 
		flex-direction: column;

		.tree{
			margin-top: 20px; 
			min-height: 150px;
			height: 100%;
			width: 100%; 
		}

		.tree-node-wrapper{
			input.tree-input{
				width: auto;
				display: inline-block;
				text-align: center;
			}

			/*.param-container{
				display: inline-block;
				background-color: $color3;
			}*/
/*
			.procedure-item{
				margin: 3px; 
				padding: 3px;

				font-size: 12px; 
				line-height: 14px;
				
				width: 100%;
				border: 1px solid $color2;
				background-color: $color2;
				cursor: move;

				.btn-group{
					display: none;
					margin: 5px 0px;
					display: flex; 
					flex-direction: row; 
					justify-content: space-between;
				}
			}
		}*/


		/*.toolbox{
			max-height: 600px;
			background-color:$color1;
			.fn_name{
				font-size: 12px;
			}
		}
	}*/

	

/* 	.container{
	position: relative;

	.procedure{

		padding: 4px; 
		width: 100%;

		[contenteditable="true"]:active,
		[contenteditable="true"]:focus{
		border:none;
		outline:none;
		}

		[contenteditable="true"]{
			color: blue;
			border-bottom: 1px dashed blue;
		}


		&.disabled{
			background-color: red;
		}

	}

	.btn-container{
		position: absolute;
		bottom: 0px; 
		left: 30%;

		button{
			height: 30px; 
			width: 30px;
		}
	}

}

input.tree-input{
	background-color: transparent;
	width: auto;
	border: 0px; 
	height: 18px; 
	font-size: 14px;
	padding: 5px; 
	display: inline;
	font-family: sans-serif;
	line-height: 18px;
	text-align: center;
	vertical-align: middle;
	border-bottom: 1px dashed blue;
} 	

}


/* .dialog{
	position: absolute;
	top: 100px;
	left: 0px;
	border: 1px solid black;
	padding: 10px;
	background-color: white;
	z-index: 14;
	font-size: 12px;

	.close{
		cursor: pointer;
	}

	.toolbox{
		.fn_container{
			.fn_name{
				
				cursor: pointer;
				
				&:hover{
					background-color: gray;
				}
			}
		}
	}
}
 */

