<mat-expansion-panel class='viewer'  [class.hidden]="!isVisible">
  	<mat-expansion-panel-header>
	    <mat-panel-title class='header'>
	      <div>Procedure</div>
	      <div class='btn-group'>
			<button *ngFor="let type of procedureTypes"
			 (click)="addProcedure($event, type)">{{getString(type)}}</button>
		  </div>
	    </mat-panel-title>
  	</mat-expansion-panel-header>
	<div class='container'>
		<tree-root #tree [nodes]='_tree' [options]='_tree_options'  (moveNode)="onMoveNode($event)">
			  <ng-template #treeNodeTemplate let-prod let-index="index">

					<!-- template for data -->
					<div *ngIf="prod.data.name == 'Data'"> 
						<div class='data-node-template procedure'>
							<input class="tree-input" [(ngModel)]="prod.data.leftExpression" #ctrl="ngModel" required
							(change)="updateProcedure($event, prod, 'left')">
							=
							<input class="tree-input" [(ngModel)]="prod.data.rightExpression" #ctrl="ngModel" required
							(change)="updateProcedure($event, prod, 'right')">
						</div>
					</div>

					<div *ngIf="prod.data.name == 'IfElse'">
						<div class='data-node-template procedure'>
							If-Else
						</div>
					</div>

					<div *ngIf="prod.data.name == 'If'">
						<div class='data-node-template procedure'>
						 If ( <input class="tree-input" [(ngModel)]="prod.data.leftExpression" #ctrl="ngModel" required
							(change)="updateProcedure($event, prod, 'left')"> )
						</div>
					</div>

					<div *ngIf="prod.data.name == 'Else'">
						<div class='data-node-template procedure'>
						 Else 
						</div>
					</div>

					<div *ngIf="prod.data.name == 'For Loop'">
						<div class='data-node-template procedure'>
						 for (  
						  <input class="tree-input" [(ngModel)]="prod.data.leftExpression" #ctrl="ngModel" required (change)="updateProcedure($event, prod, 'left')">
						 in  
						  <input class="tree-input" [(ngModel)]="prod.data.rightExpression" #ctrl="ngModel" required (change)="updateProcedure($event, prod, 'right')"> 
						  )
						</div>
					</div>
				
				    <!-- <div class='btn-group'>
				    					    <button (click)="deleteProcedure(prod)">Delete</button>
				    					    <button (click)="disableProcedure(prod, $event)">Disable</button>
				    					    <button (click)="go($event)">Copy</button>
				    					</div> -->

			  </ng-template>
		</tree-root>
	</div>
	<button (click)="expandAll(tree)">Expand All</button>
</mat-expansion-panel>