<div class="viewer">
	<mat-accordion>
		<mat-expansion-panel [expanded]="true">
					<mat-expansion-panel-header>
						<mat-panel-title>
						  Procedure 
						</mat-panel-title>
						<mat-panel-description>
						  <!-- This is a summary of the content -->
						</mat-panel-description>
					</mat-expansion-panel-header>


					<div class="tree">       
						<tree-root #tree [nodes]='_tree' [options]='_tree_options'  (moveNode)="onMoveNode($event)">
						  
						  <ng-template #treeNodeTemplate let-prod let-index="index" class="tree-node-wrapper">
						  		<div class = "full-container">

									<div class = "seg3" *ngIf="prod.data.name != 'Else' && prod.data.name != 'If'">
			    					   	<button mat-button 
										    *ngIf="prod.data.name =='Action'"
											(click)="openHelp($event, prod)">
											<mat-icon>help_outline</mat-icon>
										</button>

				    				</div>
						  			<div class = "seg1" [class.error]="prod.data.hasError">

										<!-- template for data -->
										<div *ngIf="prod.data.name == 'Data'"> 
											<div class='procedure-item'>
												<input matInput class="tree-input" 
												[(ngModel)]="prod.data.leftExpression" #ctrl="ngModel" required
												(change)="updateProcedure($event, prod, 'left')">

												<!-- <input width=50 class="tree-input" [(ngModel)]="prod.data.leftExpression" #ctrl="ngModel" required
												(change)="updateProcedure($event, prod, 'left')"> -->
												=
												
												<input matInput class="tree-input" 
												[(ngModel)]="prod.data.rightExpression" #ctrl="ngModel" required
												(change)="updateProcedure($event, prod, 'right')">

												<!-- <input width=50 class="tree-input" [(ngModel)]="prod.data.rightExpression" #ctrl="ngModel" required
												(change)="updateProcedure($event, prod, 'right')"> -->
											</div>
										</div>

										<div *ngIf="prod.data.name == 'IfElse'">
											<div class='procedure-item'>
												<span>if-else</span>
											</div>
										</div>

										<div *ngIf="prod.data.name == 'If'">
											<div class='procedure-item'>
											 <span>if</span> ( <input matInput class="tree-input"  [(ngModel)]="prod.data.leftExpression" #ctrl="ngModel" required
												(change)="updateProcedure($event, prod, 'left')"> )
											</div>
										</div>

										<div *ngIf="prod.data.name == 'Else'">
											<div class='procedure-item'>
											 <span>else</span>
											</div>
										</div>

										<div *ngIf="prod.data.name == 'For Loop'">
											<div class='procedure-item'>
											 <span>for (</span> 
											  <input matInput class="tree-input"  [(ngModel)]="prod.data.leftExpression" #ctrl="ngModel" required (change)="updateProcedure($event, prod, 'left')">
											 <span>in</span>  
											  <input matInput class="tree-input" [(ngModel)]="prod.data.rightExpression" #ctrl="ngModel" required (change)="updateProcedure($event, prod, 'right')"> 
											  )
											</div>
										</div>

										<div *ngIf="prod.data.name == 'Action'">
											<div class='procedure-item'>
												<input matInput class="tree-input" [(ngModel)]="prod.data.leftExpression" #ctrl="ngModel" required
												(change)="updateProcedure($event, prod, 'left')">
												
												= <span class="module">{{prod.data.module}}</span>
													.
												  <span class="function">{{prod.data.function}}</span> ( 

												<div class="param-container" 
													*ngFor="let p of prod.data.params; let i=index">
													
													<input matInput class="tree-input" 
													 [(ngModel)]="prod.data.params[i].value"
													 #ctrl="ngModel" 
													 required
													 (change)="updateProcedure($event, prod, 'right')">

													<span *ngIf='i<prod.data.params.length-1'>,</span>
													<!-- <input width=50 class="tree-input" [(ngModel)]="p" 
													 placeholder="Input something here" 
													 #ctrl="ngModel" required 
													 (change)="updateProcedure($event, prod, 'right')"> --> 
												</div>
												) 
												
											</div>
										</div>
									</div>

									<div class = "divider">
									</div>

									<div class = "seg2" *ngIf="prod.data.name != 'Else' && prod.data.name != 'If'">
									   <button mat-button (click)="togglePrint(prod.data.model)" *ngIf="prod.data.name =='Action' || prod.data.name =='Data'">
		    					    		<mat-icon>print</mat-icon>
			    					    </button>
										 <button mat-button (click)="toggle(prod.data.model)">
		    					    		<mat-icon>check_circle</mat-icon>
			    					    </button>
								        <button mat-button (click)="deleteProcedure(prod.data.model)">
		    					    		<mat-icon>delete</mat-icon>
			    					    </button>
			    					    <!-- <button (click)="disableProcedure(prod, $event)">Disable</button>
			    					    <button (click)="go($event)">Copy</button> -->
				    				</div>
				    			</div>
						  </ng-template>
						</tree-root> 
					</div>
		</mat-expansion-panel>
	</mat-accordion>
</div>