@import '~scss/globals';

.viewer{
	@extend .viewer;

	max-height: 300px; 
	overflow: auto;

	.container{
		position: relative;

		.procedure{

			padding: 4px; 
			width: 100%;

			[contenteditable="true"]:active,
			[contenteditable="true"]:focus{
			border:none;
			outline:none;
			}

			[contenteditable="true"]{
				color: blue;
				border-bottom: 1px dashed blue;
			}


			&.disabled{
				background-color: red;
			}

		}

		.btn-container{
			position: absolute;
			bottom: 0px; 
			left: 30%;

			button{
				height: 30px; 
				width: 30px;
			}
		}

	}

	input.tree-input{
		background-color: transparent;
		width: auto;
		border: 0px; 
		height: 18px; 
		font-size: 14px;
		padding: 5px; 
		display: inline;
		font-family: sans-serif;
		line-height: 18px;
		text-align: center;
		vertical-align: middle;
		border-bottom: 1px dashed blue;
	}


		
}

