@import '~scss/globals';

.viewer{
	@extend .viewer;

	.container{

		.procedure{
			padding: 4px; 
			width: 100%;

			[contenteditable="true"]:active,
			[contenteditable="true"]:focus{
			border:none;
			outline:none;
			}

			[contenteditable="true"]{
				color: blue;
				border-bottom: 1px dashed blue;
			}


			&.disabled{
				background-color: red;
			}

		}

	}

	input.tree-input{
		background-color: transparent;
		width: auto;
		border: 0px; 
		height: 18px; 
		font-size: 14px;
		padding: 5px; 
		display: inline;
		font-family: sans-serif;
		line-height: 18px;
		text-align: center;
		vertical-align: middle;
		border-bottom: 1px dashed blue;
	}

		
}

