<div id="appdiv">
	<split direction="vertical"              
	[gutterSize]="7" 
	[useTransition]="true" gutterColor=white>
		<split-area [size]="90" id="splitcontainer">
		  <div style="height: 100%">
		    <split direction="horizontal"	
		    [gutterSize]="7" 
			[useTransition]="true" gutterColor=white>
		      <split-area [size]="0.5" id="splitgroups">
		        <app-groups></app-groups>
		      </split-area>
		      <split-area [size]="99.5" id="splitviewer">
		        <app-viewer></app-viewer>
		      </split-area>
		    </split>
		  </div>
		</split-area>
		<split-area [size]="10" id="splittoolwindow">
			<app-toolwindow></app-toolwindow>
		</split-area>
	</split>
</div>