<div class="viewer">
	
	<h1> Welcome to Mobius! </h1>
	<!-- <div class="iframe-container">
		<iframe [src]="_url" frameborder="0"></iframe>
	</div> -->
	<mat-accordion>
	 	<mat-expansion-panel *ngFor="let m of _helpMods">
	    	<mat-expansion-panel-header>
	    		<mat-panel-title>
			      {{ getModName(m.name) }} 
			    </mat-panel-title>
	    	</mat-expansion-panel-header>

			<mat-list style="max-height: 500px; overflow: auto;">
				<h3 mat-subheader>{{m.comment.shortText}}</h3>

				<h3 mat-subheader>Functions</h3>
			 	<mat-list-item *ngFor="let fn of m.children">
			 		<div class = "content">
				 		<h4 mat-line>{{fn.name}}</h4>
	    				<p mat-line>{{fn.signatures[0].comment.shortText}}</p>
	    				<p mat-line>{{fn.signatures[0].comment.returns}}</p>
	    				<p mat-line><a href="https://phtj.github.io/gs-modelling/docs/modules/{{getUrl(m.name, fn.name)}}" target="_blank">More</a></p>
    				</div>
			 	</mat-list-item>
			 	<mat-divider></mat-divider>
			</mat-list>

	 	</mat-expansion-panel>

	</mat-accordion>

</div>