@import '~scss/globals';

.viewer{
	@extend .viewer;
	display: flex !important;
	flex-flow: column nowrap !important;

	height: 100% !important;
	padding-top: $default-side-padding;
	box-sizing: border-box !important;
	padding-bottom: 2*$header-height;

	h1{
		padding-left: $default-side-padding;
		padding-bottom: 5px;
		color: $color1;
		display: block;
		border-bottom: 1px solid $color3;
		flex-grow: 0 !important;
		flex-shrink: 1 !important;
	}

	.iframe-container{
		height: 100%;
		width: 100%;

		flex-shrink: 1 !important;
		flex-grow: 0 !important;
		iframe{
			height: 100%; 
			width: 100%;
		}
	}
}