<div class="viewer">
	
	<h1>Möbius Procedures</h1>

	<mat-accordion *ngIf='!fnObj'>

		<!-- fundamentals -->
		<mat-expansion-panel>
			<mat-expansion-panel-header>
	    		<mat-panel-title>
			      	FUNDAMENTALS
			    </mat-panel-title>
	    	</mat-expansion-panel-header>

					<h1>Fundamentals</h1>

					<p>
					    In order to get a better understanding of creating procedures in Möbius, it will be helpful to review some of the fundamental constructs of programming.
					</p>

					<ul>
					    <li><a href="#execution">Execution</a></li>
					    <li><a href="#variables">Variables</a></li>
					    <li><a href="#primitive">Primitive Data Types</a></li>
					    <li><a href="#list">List Data Type</a></li>
					    <li><a href="#passing">Passing Data: By Value and By Reference</a></li>
					    <li><a href="#expressions">Expressions</a></li>
					    <li><a href="#if-else"><i>If-else</i> Conditions</a></li>
					    <li><a href="#for-each"><i>For-each</i> Loop</a></li>
					    <li><a href="#variable-scope">Variable Scope</a></li>
					    <li><a href="#functions">Functions</a></li>
					</ul>

					<a name="execution"><h2>Execution</h2></a>

					<p>
					    A procedure consists of a sequence of lines of code. When you execute the procedure, your computer will execute the each line of code, one by one. It is like a sequence of instructions.
					</p>

					<code>
					    // code on line 1<br>
					    // code on line 2<br>
					    // code on line 3<br>
					</code>

					<p>
					    (Note that in the code example above, each line starts with a "//". This is actually a shorthand to indicate that this line consists of a comment. The computer will ignore such lines.)
					</p>

					<p>
					    (Note also that in this document, various code snippet are given as examples. The code that you create in Möbius of course looks a little different, but the structure is exactly the same. We are just writing the code snippets in this way in order to avoid having to do lots of screen captures. Each code snippet is assumed to be independent and stand alone.)
					</p>

					<p>
					    In general, the flow of the execution goes one line at a time, top to bottom. You can change this linear behaviour by using <i>if-else</i> conditions and <i>for-loops</i>. More on that later.
					</p>

					<p>
					    Each line of code can contain various types of statements. The most basic is a variable assignment.
					</p>

					<a name="variables"><h2>Variables</h2></a>

					<p>
					    A variable can be thought of as a named container in which you can place some data. A variable is something like this:
					</p>

					<code>
					    x = 123<br>
					</code>

					<p>
					    In the above code, the variable named <code>x</code> contains the number <code>123</code>. We can say: "the value of the variable is 123". The first time you use a variable like this, it gets declared, which creates the container in memory. Once it is declared, you can change the value at any time.
					</p>

					<code>
					    x = 123<br>
					    x = 456<br>
					</code>

					<p>
					    In the above code, the variable named <code>x</code> was used for the first time, and value was set to <code>123</code>. Then, on the second line, the value <code>123</code> was discarded and replaced with the value <code>456</code>. We can say: "the value of 456 was assigned to the variable x". You can change the value as many times as you like.
					</p>

					<p>
					    By convention, variables are typically named using lowercase letters only. For example, "my_variable". The variable name should not contain spaces, or any special character. Also, it should not start with a number.
					</p>

					<a name="primitive"><h2>Primitive Data Types</h2></a>

					<p>
					    The data that you assign to a variable can have different types. Möbius allows you to work with three primitive data types:
					</p>

					<ul>
					    <li>Numbers, eg. 123, 120.50 etc.</li>
					    <li>Strings of text e.g. "This text string" etc.</li>
					    <li>Boolean e.g. true or false.</li>
					</ul>

					<p>
					    Below is an example of some variable assignments for the three different primitive data types:
					</p>

					<code>
					    my_age = 47<br>
					    my_name = "Patrick"<br>
					    lives_in_sg = true<br>
					</code>

					<p>
					    There is also a special data type called <code>null</code>. When a value has already been assigned, and you want to clear it without assigning some other value, then you can assign <code>null</code>.
					</p>

					<code>
					    my_age = 47<br>
					    // do some other stuff<br>
					    my_age = null<br>
					</code>

					<p>
					    Strings can contain a lot of data. Here is an example of a longer string:
					</p>

					<code>
					    some_text = "The Möbius Modeller is a 3D parametric modelling software. It has a visual programming interface that combines dataflow programming with blocks-based programming. Dataflow programming is used to define the overall structure of your code, using nodes connected by wires. Blocks-based programming is used to define the individual procedures in each of your nodes. Procedures contain fours main types if elements: 1) variables, 2) if-else conditions, 3) for loops, and 4) function calls."
					</code>

					<p>
					    In the example above, the variable called <code>some_text</code> is assigned a longer string. A string can also be much longer than that - for example, maybe a whole book.
					</p>

					<p>
					    Also, note also that strings can contain text that looks like a number, but that is actually not a number data type. Here is an example:
					</p>

					<code>
					    text_that_looks_like_number = "123.456"<br>
					    a_number = 123.456<br>
					</code>

					<p>
					    Note that characters in a string can also be accessed using the square bracket notation. For example:
					</p>

					<code>
					    my_name = "patrick"<br>
					    first_letter = my_name[0]<br>
					    last_letter = my_name[6]<br>
					</code>

					<p>
					    The square bracket notation for indexing will be explained in more detail in the section on lists.
					</p>

					<a name="list"><h2>List Data Types</h2></a>

					<p>
					    The three primitive data types already allow many useful procedures to be written. However, there is one key problem: none of them allow you to handle collections of data items. When creating procedures, you will find that a lot of data needs to managed as a collection.
					</p>

					<p>
					    For example, lets say you have 10 people in your group, and you want to store their names. You could create 10 variables, named <code>person1="patrick"</code>, <code>person2="kainwee"</code>, <code>person3="akshata"</code>,etc, and assign each one a different name. But that would get tedious. You could store them all in one string, for example: <code>people="patrick, kainwee, akshata"</code>. But that is rather inflexible, since everything is stored in a single lump of text.
					</p>

					<p>
					    In order to be easily handle collections of data, Möbius allows you to use a list data type. A list lets you store multiple values in a single variable. A list is defined using square brackets, like this:
					</p>

					<code>
					    names_list = ["patrick", "kianwee", "akshata"]<br>
					    some_numbers = [1, 2, 3, 4.5, 6.7, 1000, 2000]<br>
					</code>

					<p>
					    In the first line of the above code, a variable called <code>names_list</code> has been created, and a value has been assigned to it that has a list data type. The list has three items inside it, each of which is a string. In the second line, a variable called <code>some_numbers</code> has been created, and the value is a list of various numbers.
					</p>

					<p>
					    The items in a list can be accessed using a zero based index. This index starts at zero, and counts up the list, one item at a time. So in the <code>names_list</code> above, <code>"patrick"</code> is at index 0, <code>"kianwee"</code> at 1, and <code>"akshata"</code> at 2. Below is an example of accessing items in names_list:
					</p>

					<code>
					    names_list = ["patrick", "kianwee", "akshata"]<br>
					    person = names_list[1]<br>
					</code>

					<p>
					    The variable called <code>person</code> is now assigned the value "kianwee". (This is because "kainwee" is at index position 1.) If you wanted to assign <code>"patrick"</code> to <code>person</code>, one would write <code>names_list[0]</code>, if you wanted "akshata", one would write <code>names_list[2]</code>. Note that for the first item, the index is 0, and for teh last item the index is the list length minus 1.
					</p>

					<p>
					    The same approach can be used in order to set the values of the items in a list. For example, we could change one of the names as follows:
					</p>

					<code>
					    names_list = ["patrick", "kianwee", "akshata"]<br>
					    names_list[0] = "patrick_janssen"<br>
					</code>

					<p>
					    The <code>names_list</code> would contain three items, namely <code>["patrick_janssen", "kianwee", "akshata"]</code>. You can also add items to the list, like this.
					</p>

					<code>
					    names_list = ["patrick", "kianwee", "akshata"]<br>
					    names_list[3] = "kamel"<br>
					</code>

					<p>
					    The <code>names_list</code> would contain four items, namely <code>["patrick", "kianwee", "akshata", "kamel"]</code>.
					</p>

					<p>
					    In some cases, rather than filling a list with items, we may instead need to create an empty list, that then gets filled later. Here is an example:
					</p>

					<code>
					    names_list = []<br>
					    // some other code<br>
					    names_list[0] = "joie"<br>
					    names_list[1] = "derek"<br>
					</code>

					<a name="passing"><h2>Passing Data: By Value and By Reference</h2></a>

					<p>
					    Finally, the last thing to say about lists goes a little deeper into programming concepts. It may not be immediately relevant when you first get started, but still it s worth mentioning. It relates to how data is passed around. There are basically two ways that data can get passed: by value and by reference. Lets say you set <code>variable_a = variable_b</code>:
					</p>

					<ul>
					    <li>By Value: The data value in <code>variable_a</code> is copied, and assigned to <code>variable_b</code>. The two variables now have separate values stored in different locations in memory. The two values will currently be the same, but if you later change one, the other will not be affected.</li>
					    <li>By Reference: A reference to the data value in <code>variable_a</code> is copied, and the reference is assigned to <code>variable_b</code>. The two variables now have the same value stored in the same locations in memory. This means that is you change the value of one variable, the other will change as well.</li>

					</ul>

					<p>
					    The easiest way to understand this is with a pair of example. The first example will be using primitive data types (which are passed by value), and the second with a list data type (which is passed by reference).
					</p>

					<code>
					    a = 5<br>
					    b = a<br>
					    a = 6<br>
					</code>

					<p>
					    The question is, after executing all three lines of code, what is the value of <code>b</code>? The answer is 5. If we follow this line by line it makes sense.
					</p>

					<ul>
					    <li>Line 1) We set the value of <code>a</code> to 5. </li>
					    <li>Line 2) We set the value of <code>b</code> to <code>a</code>. This results in the value being passed <i>by value</i>.</li>
					    <li>Line 3) We change the value of a to 6. This does not affect b in any way,</li>
					</ul>

					<p>
					    Now lets look at a similar case using lists.
					</p>


					<code>
					    list_a = [1, 2, 3] <br>
					    list_b = list_a<br>
					    list_a[0] = 10<br>
					</code>

					<p>
					    The question again is, after executing all three lines of code, what is the value of <code>b</code>? The answer is [10, 2, 3]. This may be more surprising. Why is the first item now 10? In the third line, we change a, not b. Lets set through it line by line.
					</p>

					<ul>
					    <li>Line 1: We set the value of <code>list_a</code> to [1, 2, 3]. </li>
					    <li>Line 2: We set the value of <code>list_b</code> to <code>list_a</code>. This results in the value being passed <i>by reference</i>.</li>
					    <li>Line 3: We change the value of a to [10, 2, 3]. Since list_a and list_b are referencing the same value, this means that list_b now also has a value of [10, 2, 3]. </li>
					</ul>

					<a name="expressions"><h2>Expressions</h2></a>

					<p>
					    As we have see above, a variable assignment has an "=" with something on the left and something on the right. The left hand side must specify a container in which the data will be stored. This can either be a variable name (for example <code>my_variable</code>), or, if the variable type is a list, then it can be a variable name with an index (for example, <code>my_list[1]</code>).
					</p>

					<p>
					    The right hand side of the assignment operator can be more interesting. So far, we have only been assigning a value. But on the right side you can write more complex expressions. For example:
					</p>

					<code>
					    my_variable = ((4 * 3) / 2) - 1<br>
					</code>

					<p>
					    Expressions can use arithmetic and comparison operators. For example, let us take a simple expression: 4 + 5 is equal to 9. Here 4 and 5 are called operands and ‘+’ is called the operator, which in this case is an arithmetic operator.
					</p>

					<p>
					    The arithmetic operators are as follows:
					</p>

					<ul>
					    <li>+ (Addition) Adds two operands</li>
					    <li>- (Subtraction) Subtracts the second operand from the first</li>
					    <li>* (Multiplication) Multiply both operands</li>
					    <li>/ (Division) Divide the numerator by the denominator</li>
					    <li>% (Modulus) Outputs the remainder of an integer division</li>
					    <li>++ (Increment) Increases an integer value by one</li>
					    <li>-- (Decrement) Decreases an integer value by one</li>
					</ul>

					<p>
					    The comparison operators are as follows:
					</p>

					<ul>
					    <li>(A == B) Checks if the value of two operands are equal or not, if yes, then the condition becomes true. </li>
					    <li>(A != B) Checks if the value of two operands are equal or not, if the values are not equal, then the condition becomes true.</li>
					    <li>(A > B) Checks if the value of the left operand is greater than the value of the right operand, if yes, then the condition becomes true.</li>
					    <li>(A < B) Checks if the value of the left operand is less than the value of the right operand, if yes, then the condition becomes true.</li>
					    <li>(A >= B) Checks if the value of the left operand is greater than or equal to the value of the right operand, if yes, then the condition becomes true.</li>
					    <li>(A <= B) Checks if the value of the left operand is less than or equal to the value of the right operand, if yes, then the condition becomes true.</li>
					</ul>

					<a name="if-else"><h2><i>If-else</i> Conditions</h2></a>

					<p>
					    While creating a procedure, there may be a situation when you need to perform different actions based on different conditions.
					</p>

					<p>
					    Möbius supports an <code>if-else</code> conditional statements. Here is an example:
					</p>

					<code>
					    if (variable_a > 100)<br>
					    &nbsp;&nbsp;// execute the code that is inside the if, only if the condition is true<br>
					    else<br>
					    &nbsp;&nbsp;// execute the code that is inside the else, only if the condition is not true<br>
					</code>

					<p>
					    (In the Möbius procedure window, pay attention to the left indentation of the code. You can drag your lines of code into the if-else block, and they will become indented. This indicates that they are inside the if-condition, or the else condition.)
					</p>

					<p>
					    In this case, if <code>variable_a</code> is greater than <code>100</code>, then the first set of code is executed. Otherwise the second set of code is executed.
					</p>

					<a name="for-each"><h2><i>For-each</i> Loops</h2></a>

					<p>
					    While creating a procedure, you may encounter a situation where you need to perform an action over and over again. In such situations, you would need to write loop statements.
					</p>

					<p>
					    Möbius provides a for-each loop that allows you to loop over a list of values.
					</p>

					<code>
					    list_of_items = [10, 20, 30, 40, 50]<br>
					    if (item in list_of_items)<br>
					    &nbsp;&nbsp;// execute the code that is inside the loop multiple times, using item<br>
					</code>

					<p>
					    (In the Möbius procedure window, pay attention to the left indentation of the code. You can drag your lines of code into the for-loop block, and they will become indented. This indicates that they are inside the loop.)
					</p>

					<p>
					    The example above shows the basic loop construct. The <code>list_of_items</code> contains five values, so the loop will execute five times. Each time, the a variable called <code>item</code> is created with a new value. The first time around the loop, <code>item</code> will have a value of 10, the second time, it will have a value of 20, and so forth. Each time around the loop, the code will most likely do something useful with this <code>item</code> variable.
					</p>

					<a name="variable-scope"><h2>Variable Scope</h2></a>

					<p>
					    When using if-else conditions and for-each loops, it is important to look a little deeper at creating variables. If-else condition and for-each loops define inner blocks of code (shown graphically by the level of indentation). These blocks of code can have multiple lines, and these lines may include the creation of new variables. The are certain rules that define where variables are visible, referred to as the <i>variable scope</i>.
					</p>

					<p>
					    Lets assume you you create variable in your procedure called <code>variable_a</code>. Where can you use that variable name? Which is the same as asking, where is that variable "in scope"? (If you do it wrong, you will get a "ReferenceError" when you run your program.) To figure this out, you need to follow two basic rules (both rules need to be true).:
					</p>

					<ul>
					    <li>Rule 1: The line of code accessing the variable must come after the line of code that created the variable. </li>
					    <li>Rule 2: The line of code accessing the variable must be contained inside the code block that created the variable.</li>
					</ul>

					<p>
					    Lets look at an example, and analyse it line by line.
					</p>

					<code>
					    a = 2<br>
					    if (condition)<br>
					    &nbsp;&nbsp;b = a * 4<br>
					    c = b * 6 // ReferenceError<br>
					</code>

					<ul>
					    <li>Line 1:The variable <code>a</code> is created.</li>
					    <li>Line 2:The <i>if</i> creates a code sub-block, with a single line of code in it. There are now two code blocks, the main code block of the procedure, and nested inside that, this <i>if</i> code sub-block.</li>
					    <li>Line 3:This line is inside the <i>if</i> code block, which is inside the main code block. A new variable, <code>b</code> is created. The value is set to <code>a</code> multiplied by 4. In this cases, there is no problem accessing the variable <code>a</code>, because both rules are true. Rule 1: Line 3 come after line 1. Rule 2: Line 3 is inside the line 1 code block.</li>
					    <li>Line 4:This line is inside the <i>if</i> code block. This line generates an ReferenceError. A new variable, <code>c</code> is created, no problem here. But the problem occurs when the value is set to <code>b</code> multiplied by 6. In this cases, line 4 cannot access the variable <code>b</code> define on line 3. Rule 1 is still OK: Line 4 come after line 3. However, Rule 2 is not OK: Line 4 is not inside the line 3 code block. So, as far as this line is concerned, variable <code>b</code> does not exist.</li>
					</ul>

					<p>
					    Basically, anything you create in these inner code blocks is not visible to the code outside the block. To someone who is new to programming, this may seem annoying. However, it is actually a good thing, since it avoids many errors that are hard to catch. Furthermore, there is actually a simple way to fix this, as follows:
					</p>

					<code>
					    a = 2<br>
					    b = 0 // a default value<br>
					    if (condition)<br>
					    &nbsp;&nbsp;b = a * 4<br>
					    c = b * 6<br>
					</code>

					<p>
					    Since <code>b</code> is now created in the main code block, the last line no longer has an error.
					</p>

					<a name="functions"><h2>Functions</h2></a>

					<p>
					    Finally, we get to the functions, which is where most of the useful operations can be performed. Möbius allow users to create procedures that call a set of predefined functions, organised into modules to make the easier to find. These functions are all called it the same way.
					</p>

					<ul>
					    <li>The function name species the function to be called.</li>
					    <li>The function inputs are called the "arguments", and are specified in round brackets after the function name. </li>
					    <li>The function may have an output, which is called the "return value". If it has a return value, then the return value will typically be assigned to a variable.</li>
					</ul>

					<p>
					    For example, consider the <code>string.len()</code> function that calculates the length of a string.
					</p>

					<code>
					    my_str = "This is some text."<br>
					    result = string.len(my_str)<br>
					</code>

					<p>
					    In this case, the module name is <code>string</code>, and the function name is <code>len</code>. The function takes one argument as input, which is the string whose length needs to be calculated, which in this case is <code>my_str</code>. The function returns a number (the length of the string), which gets assigned to the variable called <code>result</code>.
					</p>

					<p>
					    The sections below give help documentation on all the functions available in Möbius.
					</p>

		</mat-expansion-panel>

		<!-- functions -->
	 	<mat-expansion-panel 
	 		*ngFor="let m of _helpMods"
	 		[expanded]="getModName(m.name) ==_activeMod">
	    	<mat-expansion-panel-header>
	    		<mat-panel-title>
			      {{ getModName(m.name) }} 
			    </mat-panel-title>
	    	</mat-expansion-panel-header>

			<mat-list id="{{getModName(m.name)}}" 
				style="max-height: 500px; overflow: auto;">
				<!-- <h3 mat-subheader>{{m.comment.shortText}}</h3> -->

				<h3 mat-subheader>Functions</h3>
			 	<mat-list-item *ngFor="let fn of m.children">
			 		<div class = "content">
				 		<h4 mat-line>{{fn.name}}</h4>
	    				<p class="head-descr" mat-line>{{fn.signatures[0].comment.shortText}}</p>
					
						<!-- @derek: parameters-->
						<div  class="parameters" mat-line *ngIf='fn.signatures[0].parameters'>
							<div *ngFor="let pa of fn.signatures[0].parameters">
								<!--<span class="topic">Name: </span>-->
								<span class="topic">{{pa.name}}: </span>
								<!-- <span *ngIf="pa.type">Type: {{pa.type.type}}</span> -->
								<!--<span class="topic">Description: </span>-->
								<span class="descr" *ngIf="pa.comment">{{pa.comment.text}}</span>
							</div>
						</div>

						<div class="return-block">
		    				<span class="topic">Returns: </span>
		    				<span class="descr" [innerHTML]="fn.signatures[0].comment.returns"></span>
		    			</div>

		    			
	    				<p mat-line>	
	    					<a href="https://phtj.github.io/gs-modelling/docs/modules/{{getUrl(m.name, fn.name)}}" target="_blank">More</a>
	    				</p>

    				</div>
			 	</mat-list-item>
			 	<mat-divider></mat-divider>
			</mat-list>

	 	</mat-expansion-panel>
	 	
	</mat-accordion>

	<!-- specific function -->
	<div *ngIf='fnObj && fnObj.name'>
		
		<h4>Module: {{fnObj.module}}</h4>
		<h3>{{fnObj.name}}</h3>
		
		<div>
			{{fnObj.content.signatures[0].comment.shortText}}
			Returns: {{fnObj.content.signatures[0].comment.returns}}
				<a href="https://phtj.github.io/gs-modelling/docs/modules/{{getUrl(fnObj.module, fnObj.name)}}" target="_blank">
				More
				</a>
		</div>
	
		<hr>
		
		<div (click)="showAll()" style="cursor: pointer;">[Show All]</div>
	
	</div>

</div>