#toolwindow{
  background-color:white;
}
#toolbar{
  background-color: #E6E6E6;
  height: 28px;
}
#point{
  margin-left:25px;
  font-size:20px;
  background-color:transparent;
  border:0;
}
#vertice{
  font-size:22px;
  background-color:transparent;
  border:0;
}
#edge{
  font-size:22px;
  background-color:transparent;
  border:0;
}
#wire{
  font-size:22px;
  background-color:transparent;
  border:0;
}
#face{
  font-size:22px;
  background-color:transparent;
  border:0;
}
#object{
  font-size:20px;
  background-color:transparent;
  border:0;
}
#selected{
  margin-left:30px;
}
.visible{
  color: grey;
}
#table{
  width:100% ;
  height: 15px;
}
#tablename{
  width:100% ;
  height: 15px;
  color:grey;
}
#numberbutton{
  width:100%;
  border:0;
}
.selectid{
  background-color:#66CCFF;
}
