<mat-expansion-panel class='viewer'>
  	<mat-expansion-panel-header>
	    <mat-panel-title class='header'>
	     	 <div class='header'>		
	      			Input Designer
					<div class='btn-group'>
						<button (click)="addInput()">+</button>
					</div>
			</div>
	    </mat-panel-title>
  	</mat-expansion-panel-header>
	<div class='container'>
		<div class='input' *ngFor="let inp of _inputs">
			<div class='row'>
				<span class='label'>Name</span>
				<span class='content' contenteditable="true" (keyup)="updateInputName($event, inp)">{{ inp.getName() || "undefined" }}</span>
			</div>
			<div class='row'>
				<span class='label'>Type</span>
				<span class='content'>
					<select (change)="updateInputType($event.target.value, inp)">
						         	    <option *ngFor="let x of portOpts" [value]="x.id" [selected]="inp.getType() == x.name">{{x.name}}</option>
						            </select>
				</span>
			</div>
			<div class='row'>
				<span class='label'>Default</span>
				<span class='content' contenteditable="true" (keyup)="updateInputDValue($event, inp)">{{inp.getValue() || "undefined"}}</span>
			</div>
			<span class='btn btn-small' (click)='deleteInput(inp)'>Delete</span>
		</div>
	</div>
</mat-expansion-panel>