@import '~scss/globals';

.viewer-toggle{
	flex-direction: row; 
	width: 100%;
	background-color: $color1;
	mat-icon{
		color:$color2;
	}
}

.viewer-toggle-btn:hover{
	mat-icon{
		color:$color4;
	}
}

.viewer-container{
	position: relative;
	height: 100%;

	padding: 0px;
	margin: 0px;

	overflow: hidden;

}