@import '~scss/globals';

.viewer-toggle{
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	background-color: $color1;
	mat-icon{
		color:$color2;
	}
	.mat-button-toggle-disabled{
		background-color:$color1;
		mat-icon{
			color:$color5 !important;
		}
	}
}

.viewer-toggle-btn:hover{
	mat-icon{
		color:$color4;
	}
}

.viewer-container{
	position: relative;
	height: 100%;

	padding: 0px;
	margin: 0px !important;

	overflow: hidden !important;

}