<div class="viewer-container">             
	<mat-button-toggle-group class="viewer-toggle" #group="matButtonToggleGroup">
		<mat-button-toggle value="0">
		  <mat-icon>description</mat-icon>
		</mat-button-toggle>
		<mat-button-toggle value="2">
		  <mat-icon>code</mat-icon>
		</mat-button-toggle>
		<mat-button-toggle value="1">
		  <mat-icon>3d_rotation</mat-icon>
		</mat-button-toggle>
		<mat-button-toggle value="3" disabled>
		  <mat-icon>text_format</mat-icon>
		</mat-button-toggle>
		<mat-button-toggle value="4" disabled>
		  <mat-icon>info_outline</mat-icon>
		</mat-button-toggle>
		<mat-button-toggle value="5">
		  <mat-icon>help_outline</mat-icon>
		</mat-button-toggle>
	</mat-button-toggle-group>

	<app-text-viewer *ngIf="group.value == 0"></app-text-viewer>
	<app-geometry-viewer *ngIf="group.value == 1 "></app-geometry-viewer>
	<app-code-viewer *ngIf="group.value == 2"></app-code-viewer>
	<app-help-viewer *ngIf="group.value == 5 || group.value == undefined"></app-help-viewer>
</div>