@import '~scss/globals';

.viewer-toggle{
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	background-color: $color1;
	span{
		font-style: italic;
		font-weight: bold;
	}
	mat-icon{
		color:$color2;
		height: $header-height !important;
		display: flex !important;
		align-items: center !important;
		justify-content: center !important;
		font-size: $fsize1;
	}

	&:hover{
		.btn-grp1{
			flex-flow: wrap;
		}
	}
	.mat-button-toggle{
		height: $header-height !important;
		//display: flex !important;
		//align-items: top !important;
		//justify-content: center !important;
	}

	.mat-button-toggle-disabled{
		background-color:$color1;
		mat-icon{
			color:$color5 !important;
		}
	}

	.btn-grp1{
		max-width: 100% !important;
		flex-grow: 1 !important;
		flex-shrink: 1 !important;
		display: flex;
		flex-flow: row nowrap;
	}
	.btn-grp2{
		width: 56px !important;
		display: flex !important;
		flex-flow: row-reverse nowrap !important;
		flex-grow:1!important;
		flex-shrink: 0!important;
	}

	.mat-button-toggle-checked{
		background-color: $color3 !important;
	}
}

.viewer-toggle-btn:hover{
	mat-icon{
		color:$color4;
	}
}

.viewer-container{
	position: relative;
	height: 100%;
	min-width: 56px !important;

	margin: 0px !important;

	overflow: hidden !important;
	padding-bottom: 2*$header-height + $default-side-padding/2;
	box-sizing: border-box;
}
