/* You can add global styles to this file, and also import other style files */
@import '~angular-tree-component/dist/angular-tree-component.css';
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons'); 
@import '~scss/globals';

html{
	position: relative;
	height: 100%; 
	width: 100%; 

	padding: 0px;
	margin: 0px;

	font-family: sans-serif;
	font-size: $fsize2;
	line-height: 14px; 
}

body{
	position: relative;
	width: 100%;
	height: 100%; 

	padding: 0px;
	margin: 0px; 
}

.hidden{
	display: none !important;
}

.mat-tab-body-content{
	overflow: hidden !important;
}

// split-gutter{ 
// 	background-color: $color2 !important; 
// }

split-area{
	overflow-y: hidden !important;
	height: 100% !important;
}

.mat-tab-label{
	font-size: $fsize2 !important; 
	line-height: 18px;
	min-height: 30px !important; 
	min-width: 100px !important;
	padding: 0px; 
	height: 30px !important;
	padding: 0 10px; 
}

.mat-accordion{
	height: 100% !important;
	width: 100% !important;
	//overflow: auto !important;
}

.mat-expansion-indicator{
	color: $color1 !important;
}

.mat-expansion-panel-header{
	height: 28px !important;
	background-color: white !important;
	border-top: 1px solid $color2 !important;
	border-bottom: 1px solid $color2 !important;
	padding-left: $default-side-padding !important;
	.mat-expansion-panel-header-title{
		color: $color1 !important;
		font-weight: bold !important;
		font-size: $fsize2 !important;
	}
	&:hover{
		background-color: white !important;
	}
}

.mat-expansion-panel-body{
		height: 100%;
		//overflow: auto !important;
		color: $color1;
		padding: 0 !important;
		box-sizing: border-box !important;
		//padding-bottom: $default-side-padding!important;
	span{
		color: $color1;
		&:hover{
			cursor: pointer;
			color: $color4;
			border: 0px !important;
		}
	}
	.content{
		color: $color1 !important;
		select{
			color:$color1 !important;
			border-color: $color1 !important;
			&:focus{
				background-color:$color4 !important;
			}
		}
		&:hover{
			color:$color4 !important;
			cursor: text !important;
		}
		&:focus{
			background-color: $color4 !important;
			color: $color1 !important;
		}
	}
	.label{
		color: $color2 !important;
		&:hover{
			cursor: default !important;
		}
	}
}

.mat-expansion-panel{
	box-shadow: none !important;
}

.mat-raised-button{
	color: white !important;
	&:hover{
		color: $color1 !important;
		background-color: $color4 !important;
	}
}
.param-container{
	display: inline-block;
}


.angular-tree-component{
	font-size: $fsize2 !important;
	line-height: $fsize2 !important;
	vertical-align: center !important;
	.node-content-wrapper{
		width:100% !important;
		//margin-right: 10px !important;
		//border: 1px dashed $color2;
		border-left: 1px solid $color2;
		border-bottom: 1px solid $color2;
		margin-bottom: 5px;
		min-height: 18px;
		&:hover{
			background-color: rgba(240,191,160,0.3) !important;
			.seg1{
				width: 80% !important;
				display: flex !important;
				flex-flow: row wrap !important;
			}
		}
		.full-container{
			width: 100% !important;
			padding: 0px !important;

			border-radius: 0px;
			transition: none;


			display: flex;
			flex-flow: row nowrap!important;
			overflow: hidden !important;
			justify-content: space-between !important;

			&:hover{
				.seg2{
					display: flex !important;
				}
				.seg3{
					visibility: visible !important;
				}
			}
//			overflow-x: auto!important;
//			box-sizing: border-box!important;
			.seg1{
				min-width: 80% !important; //change to min-width for single line
				display: flex !important;
				flex-flow: row nowrap!important; //nowrap
				justify-content: space-between !important;
				flex-grow:1 !important;
				flex-shrink:0 !important;
			}
			.procedure-item{
				color: $pcolor3 !important;
				display: flex !important;
				flex-flow: row wrap !important;

				align-items: center !important;
				justify-content: center !important;

				span{
					font-weight: bold !important;
					color: $pcolor3 !important;
				}
				.tree-input{
					min-width: 10px !important;
					max-width: 100px !important;
					
					color: $color1 !important;
					background-color: white;//$color3;
					border-style: solid !important;
					border: 0px;
					border-bottom: 1px solid $color1;
					font-weight: normal !important;

					//border-radius: 3px;
					text-align: center; //center;
					margin: 2px 0px;
					&:focus{
						background-color:$color4 !important;
						&:hover{
							color:$color1 !important;
						}
					}
					&:hover{
						color: $color4 !important;
					}
				}
			}

			.seg2{
				display: none !important;
				justify-content: flex-end !important;

				flex-grow:1 !important;
				flex-shrink:0 !important;
				button{
						margin: 0px !important;
						max-width: $fsize1  !important;
						height: $fsize1 ;
						min-width: $fsize1  !important;
						padding: 0px !important; 

						flex-grow:0 !important;
						flex-shrink:0 !important;
								
					mat-icon{
						height: $fsize1 ;
						vertical-align: top !important;
						font-size: $fsize1 !important;
						text-align: left !important
					}
					&:hover{
						background-color: $color3 !important;
						mat-icon{
							color: $color5 !important;
						}
					}
				}
			}

			.seg3{
				visibility: hidden !important;
				justify-content: flex-end !important;

				flex-grow:0 !important;
				flex-shrink:0 !important;
				max-width: $fsize1 !important;
				button{
						margin: 0px !important;
						max-width: $fsize1  !important;
						height: $fsize1 ;
						min-width: $fsize1  !important;
						padding: 0px !important; 

						flex-grow:0 !important;
						flex-shrink:0 !important;
								
					mat-icon{
						height: $fsize1 ;
						vertical-align: top !important;
						font-size: $fsize1 !important;
						text-align: left !important
					}
					&:hover{
						background-color: $color3 !important;
						mat-icon{
							color: $color5 !important;
						}
					}
				}
			}
		}
	}
	/*.node-content-wrapper-focused{
		background-color: $color3 !important;
		&:hover{
			background-color: $color3 !important;		
		}

		.full-container.seg1{
			display: flex !important;
			flex-flow: row wrap !important;
		}
	}*/
}

.node-content-wrapper.node-content-wrapper-active.node-content-wrapper-focused{
	background-color: $color3 !important;
	&:hover{
		background-color: $color3 !important;
	}
	.seg1{
		width: 80% !important;
		display: flex !important;
		flex-flow: row wrap !important;
	}
	.seg2{
		display: flex !important;
	}
}

/*.viewer{
	box-sizing: border-box;
	padding-bottom: $header-height;
	split-area{
		overflow: auto !important;
	}
}*/

/*
.param-container{
	display: flex;
	flex-flow: row wrap;
	.mat-button{
		width: 24px !important;
		height: 24px !important;
	}
}*/



// dummy placeholder when node is being dragged in angular-tree

@keyframes procedure-drag{
	from{
		height: 7px;
	}
	to{
		height: 28px !important; 
	}
}


.node-drop-slot{
	margin-top:-7px !important;
	height: 7px;
}

.is-dragging-over{
	animation-name: procedure-drag !important;
	animation-duration: 0.25s !important;
	height: 28px; 
	border: 1px solid $color2 !important; 
	background-color: $color2 !important;
}



tree-viewport{
	overflow:hidden !important;
}

span.addBtn{
	padding-left: $default-side-padding !important;
}


.mat-input-wrapper{
	padding: 0 !important;
	border-bottom: 1px solid $color2 !important;
}

.mat-input-infix{
	padding: 0 !important;
	border: 0 !important;
}

.mat-input-underline{
	display: none !important;
}

// split-area.sidebar.flowchart{
// 	width: 150px !important;
// }

//.sidebar{
	//border-right: 2px solid $color2 !important;
	//width: 10% !important;
	//max-width: 200px;
	//min-width: 150px;
//}