/* You can add global styles to this file, and also import other style files */
@import '~angular-tree-component/dist/angular-tree-component.css';

html{
	position: relative;
	height: 100%; 
	width: 100%; 
	padding: 0px;
	margin: 0px;

	font-family: sans-serif;
	font-size: 12px;
	line-height: 14px; 

}

body{
	height: 100%; 
	padding: 0px;
	margin: 0px; 

	background-color: #E3E3E3;
}

.container{
	height: 100%;
}

// overrides for plugins


// angular-split
split-gutter{
	min-height: 400px !important;
	background-color: #AEA8A8 !important;
}

.hidden{
	display: none !important;
}

// angular-tree-component


.mat-expansion-panel:not([class*=mat-elevation-z]){
	box-shadow: none;
}
.mat-expansion-panel-body{
	margin: 0px !important;
}

.mat-expansion-panel-header{
	padding: 0 10px !important;
	height: 36px !important;
}

.mat-expansion-panel:not([class*=mat-elevation-z]){
	border: 0px !important;
	border-bottom: 1px solid gray !important;
	box-shadow: none !important;
}

