$toolbar-color: #F7F7F7;
$toolbar-height: 45px;

$default-padding: 5px 15px;

$heading-3: 16px;
$default-item-spacing: 10px;

$background-color: #EDEDED; 


$port-size: 15px;

$active-color: #f7f7f7;
$toolbar-btn-color: #C6C6C6;
$disabled-color: #6D6A6A;

$default-side-padding: 15px;
$default-top-padding: 5px;