.viewer{



	.default{
		font-size: 14px;
		color: gray;
		line-height: 150px;
		text-align: center;
	}
/* 	width: 100%; 
overflow: auto;

padding: 0px;
margin: 0px;

.header{

	display: flex; 
	flex-direction: row; 
	justify-content: space-between;

	position: relative;
	font-size: 14px; 
	font-weight: 600; 
	line-height: $header-height;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	height: $header-height;

	color: #ADADAD;

	.btn-group{
		height: $header-height; 

		button{
			width: 0.9*$header-height; 
			height: 0.9*$header-height; 
			margin: 0px;
			border: 1px solid #B4B1B1;
			box-shadow: none;

			&:focus{
				
			}
		}
		
	}

}

.container{
}

button{
	&:focus{
		
	}
} */

}
