<div class="container" *ngIf="_selectedNode !== undefined">
	<div class = "nameLabel">
		<span>Node: </span>
		<div class ="content">
			{{_selectedNode.getName()}}
		</div>
	</div>
	<ul>
		<li  class = "content" *ngFor="let output of _selectedNode.getOutputs()">
			{{ output.getValue() }}
		</li>
	</ul>
	<div class="outputPort" *ngIf="_selectedNode !== undefined">
		<span>Selected Port:</span>
		<br>
		<div class ="content">
			{{ getPortContent() }}
		</div>
	</div>
</div>

<div class="default" *ngIf="_selectedNode === undefined">
	No Node Selected
</div>
