@import '~scss/globals';

.container{
	height: 100%;
	width: 100%;

	padding: $default-side-padding;
	color: $color1;

	box-sizing: border-box;
	overflow: auto;

	font-family: 'Ubuntu Mono', monospace;
	.nameLabel{
		width: 100%;
	}

	.outputPort{
		width: 100%;
	}
	.content{
		margin-right: $default-side-padding;
		width: 100%;
		color: $color5;
		font-size: $fsize2;
	}

	mat-expansion-panel-header{
		background-color: $color3 !important;
		border-top: 1px solid $color2 !important;
		border-bottom: 1px solid $color2 !important;
		padding-left: $default-side-padding !important;
		mat-panel-title{
			color: $color1 !important;
			font-weight: bold !important;
			font-size: $fsize2 !important;
		}
		&:hover{
			background-color: $color3 !important;
		}
	}
}

span{
	font-size: $fsize1;

	display: block;
	border-bottom: 1px solid $color2;
}


