@import '~scss/globals';

.container{
	height: 100%;
	width: 100%;

	padding: $default-side-padding;
	color: $color1;

	box-sizing: border-box;
	overflow: auto;

	font-family: 'Ubuntu Mono', monospace;
	.nameLabel{
		width: 100%;
	}

	.outputPort{
		width: 100%;
	}
	.content{
		margin-right: $default-side-padding;
		width: 100%;
		color: $color5;
		font-size: $fsize2;
	}

}

span{
	font-size: $fsize1;

	display: block;
	border-bottom: 1px solid $color2;
}
