<div id="container"  
    (mousemove)="onDocumentMouseMove($event)" 
    (mousedown)="mousedown($event)"
    (mouseup)="mouseup($event)"
		(click)="onDocumentMouseDown($event)"
    (window:resize)="onResize($event)">

	
  		<!-- <button id="rotating" 
  			[class.visible]="Visible === 'rotate'" 
  			(click)="rotate()">
  			<i class="fa fa-refresh"></i>
  		</button>

  		<button id="paning"  
  			[class.visible]="Visible === 'pan'" 
  			(click)="pan()">
  			<i class="fa fa-hand-paper-o"></i>
  		</button>

  		<button id="zooming"  
  			[class.visible]="Visible === 'zoom'" 
  			(click)="Visible='zoom'">
  			<i class="fa fa-search"></i>
  		</button>-->
  		
  		<button id="zoomingfit"  
  			[class.visible]="Visible === 'zoomfit'" 
  			(click)="zoomfit()">
  			<i class="fa fa-arrows-alt"></i>
  		</button> 
  		
  		<!-- <button id="selecting" [class.visible]="Visible === 'select'" (click)= "select($event, Visible)" ><i class="fa fa-mouse-pointer"></i></button> -->
  		
  		<button id="setting" [class.selected]="settingVisible" (click)= "settingVisible = !settingVisible"><i class="fa fa-cog"></i></button>

      <button id="selecting" [class.selected]="seVisible" (click)= "select(seVisible)" ><i class="fa fa-mouse-pointer"></i></button>

      	
      	<!--setting-->
      	
 		<app-setting *ngIf="settingVisible == true"></app-setting>
    <div *ngIf="seVisible == true">
        <button id="points" [class.selectvisible]="SelectVisible === 'Points'" (click)="pointselect(SelectVisible)">P</button>
        <button id="vertices" [class.selectvisible]="SelectVisible === 'Vertices'" (click)="verticeselect(SelectVisible)">V</button>
        <button id="edges" [class.selectvisible]="SelectVisible === 'Edges'" (click)="edgeselect(SelectVisible)">E</button>
        <button id="wires" [class.selectvisible]="SelectVisible === 'Wires'" (click)="wireselect(SelectVisible)">W</button>
        <button id="faces" [class.selectvisible]="SelectVisible === 'Faces'" (click)="faceselect(SelectVisible)">F</button>
        <button id="objects" [class.selectvisible]="SelectVisible === 'Objs'" (click)="objectselect(SelectVisible)">O</button>
      </div>
</div>


	


